<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

				<div th:fragment="timeschedgroupFormContent" id="timeschedgroupFormContent" class="row">
			    	<div class="col-lg-12">
			    		<fieldset>
							<legend>
								<h1><th:block th:text="${timeschedgroup.isNew()} ? #{timeschedgroups.title.create} : #{timeschedgroups.title.update}" /></h1>
								<p class="note"><th:block th:text="#{field.required.start}" />	<span class="required" style="color:red">*</span>	<th:block th:text="#{field.required.end}" /></p>
								
								<!-- Errors alerts field -->					
								<div class="alert alert-block alert-danger" th:if="${#fields.hasErrors('*')}"><p th:text="#{field.validation.error.global.message}" >Please fix the following input errors:</p>
									<ul>
		    							<li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
			        						<span th:text="${e.global}? '*' : #{field}+' \''+#{timeschedgroup.field+'.'+${e.fieldName}} +'\''">The field name</span> 
			        						<span th:text="#{${e.message}}">The error message</span>
		    							</li>
									</ul>
								</div>
							</legend>
							
							<input type="hidden" th:field="*{id}" />
							<div th:include="fragment/fielddefinition :: textFormField('name',true, text, 'timeschedgroup.field')">Name</div>
							<div th:include="fragment/fielddefinition :: textAreaFormField('description', false, 3, 'timeschedgroup.field')">Description</div>
							
							
							<div th:unless="${timeschedgroup.isNew()}" class="panel panel-default">
								<div class="panel-heading">
    								<h3 class="panel-title"><b><th:block th:text="#{timeschedgroup.form.timeperiodsgroupname}">Time periods group name</th:block></b></h3>
  								</div>
  								<div class="panel-body">
  									<div class="timePeriodGroupsPart">
  									<div class="row">
										<div class="col-md-2">
											<div class="panel panel-primary">
  												<div class="panel-heading">
    												<h3 class="panel-title">Доступные периоды</h3>
  												</div>
												<div class="input-group">
													<span class="input-group-addon" style="border-radius:0" id="basic-addon1">
														<i class="fa fa-search"></i>
													</span>
      												<input id="search1" type="text" class="form-control" style="border-radius:0" placeholder="Найти..."></input>
      											</div>	
      										      										
												<select id="sel1"
														class="form-control"
														multiple="multiple"
														size="6"
														style="width:100%; border-radius:0">
														<option th:each="data : ${allTimePeriods}" 
										        				th:value="${data.id}" 
										          				th:text="${data.name}">
										          		</option>
												</select>
											</div>
										</div>
											
										<div class="col-md-1">
											<br></br><br></br><br></br>
												<p class="text-center"><a href="#" id="addNewItems" class="add-period"><i class="fa fa-arrow-circle-o-right fa-2x"></i></a></p>
												<p class="text-center"><a href="#" id="removeItems" class="del-period"><i class="fa fa-arrow-circle-o-left fa-2x"></i></a></p>
											
										</div>
										<div class="col-md-2">
											<div class="panel panel-primary">
  												<div class="panel-heading">
    												<h3 class="panel-title">Выбранные периоды</h3>
  												</div>
												<div class="input-group">
													<span class="input-group-addon" style="border-radius:0" id="basic-addon1">
														<i class="fa fa-search"></i>
													</span>
      												<input id="search2" type="text" class="form-control" style="border-radius:0" placeholder="Найти..."></input>
      											</div>	
      										      										
												<select th:field="*{timePeriods}" 
														class="form-control"
														id="sel2"
														multiple="multiple"
														size="6"
														style="width:100%; border-radius:0">
														<option th:each="data : ${timeschedgroup.timePeriods}" 
									        				th:value="${data.id}" 
									          				th:text="${data.name}">
									          		</option>
												</select>
											</div>
										</div>	
									</div>
									</div>
  								</div>
							</div>
							
						</fieldset>
						<div class="form-actions">
            				<button class="btn btn-primary" type="submit" th:text="${timeschedgroup.isNew()} ? #{timeschedgroup.form.button.create.submit} : #{timeschedgroup.form.button.update.submit}">Submit</button>
            				<button class="btn btn-default" type="reset" th:text="#{timeschedgroup.form.button.reset}">Reset</button>
            			</div>	
					</div>
				</div>	
</html>	