<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/header :: headerFragment" />
<!-- <div ddl:bundle-includes="select2,users-form" />  -->
<link rel="stylesheet" src="/static/assets/extensions/lou-multi-select/0.9.12/css/multi-select.css" th:href="@{/static/assets/extensions/lou-multi-select/0.9.12/css/multi-select.css}" />

<body>
<div id="wrapper">
	<!-- Header -->
	<div th:replace="fragment/header :: navbar_alt" > </div>
		
	<br/>
	<div id="page-wrapper">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/calendar/timeschedgroups/index.html"><th:block th:text="#{breadcrumbs.timeschedgroups}" /></a></li>
				<li class="active"><th:block th:text="#{breadcrumbs.timeschedgroups.update}" /></li>
			</ol>
		</div> 
		<div class="row">
			
			<form action="#" th:action="@{/calendar/timeschedgroups/update}" th:object="${timeschedgroup}" th:method="PUT" method="PUT" class="well form">
				<head th:replace="calendar/timeschedgroups/form :: timeschedgroupFormContent" />
			</form>
		</div>
	</div>
</div>

<div th:replace="fragment/header :: scripts" > </div>
<script src="/static/assets/views/calendar/timeschedgroups/js/form.js" th:href="@{/static/assets/views/calendar/timeschedgroups/js/form.js}" > </script>
<script src="/static/assets/extensions/jquery.quicksearch.js" th:src="@{/static/assets/extensions/jquery.quicksearch.js}"></script>
<script src="/static/assets/extensions/lou-multi-select/0.9.12/js/jquery.multi-select.js" th:src="@{/static/assets/extensions/lou-multi-select/0.9.12/js/jquery.multi-select.js}"></script>
</body>
</html>