<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/header :: headerFragment" />

<body>
	<div id="wrapper">
		<!-- Header -->
		<div th:replace="fragment/header :: navbar_alt" > </div>
		<br/>
		<div id="page-wrapper">
			<div class="row">
				<ol class="breadcrumb">
					<li class="active" th:text="#{breadcrumbs.pbxStations}">Pbx Stations</li>
				</ol>
				<div class="col-lg-12">
					<a href="/stations/pbxstations/create" th:text="#{breadcrumbs.pbxStations.create}">Create</a>
				</div>
				<div class="col-lg-12">
					<h1 class="page-header" th:text="#{pbxStations.ui.messages.index.title}">Pbx Stations management</h1>
					
				</div>
				<div th:replace="stations/pbxstations/search :: pbxstations_search_form" > </div>
			</div>
			
			 <div class="row">
			 	<table id="pbxstationstable" class="display" >
			        <thead>
			            <tr>
			                <th th:text="#{pbxStation.field.sequence}">№ п/п</th>
			                <th th:text="#{pbxStation.field.name}">Station name</th>
			                <th th:text="#{pbxStation.field.host}">Host</th>
			                <th th:text="#{pbxStation.field.rabbitQueue}">AMQP-queue</th>
			                <th th:text="#{pbxStation.field.updateFlag}">Update flag</th>
			                <th th:text="#{pbxStation.field.reinitFlag}">ReinitFlag</th>
			                <th th:text="#{pbxStation.field.actions}">Actions</th>
			            </tr>
			        </thead>
			 
			        <tfoot>
			            <tr>
			                <th>№ п/п</th>
			                <th th:text="#{pbxStation.field.name}">Station name</th>
			                <th th:text="#{pbxStation.field.host}">Host</th>
			                <th th:text="#{pbxStation.field.rabbitQueue}">AMQP-queue</th>
			                <th th:text="#{pbxStation.field.updateFlag}">Update flag</th>
			                <th th:text="#{pbxStation.field.reinitFlag}">ReinitFlag</th>
			                <th th:text="#{pbxStation.field.actions}">Actions</th>
			                
			            </tr>
			        </tfoot>
			    </table>
			</div>
		</div>
	</div>
	<div th:replace="fragment/header :: scripts" > </div>

	<script th:inline="javascript">
	/*<![CDATA[*/
	
	$(document).ready(function() {
		
		jQuery(function($) {
			$('[data-toggle="tooltip"]').tooltip();
		});
		
		function flagFormatter(data){
			if(data==true) return [[#{ui.messages.table.field.boolean.true}]];
			else return	[[#{ui.messages.table.field.boolean.false}]];
		}
		
		var myTable = $('#pbxstationstable').DataTable({
	    	"stateSave": true,
	    	"processing": true,
	        "serverSide": true,
	        "ajax": {
	        	"method": "GET",
	        	"url": "/stations/pbxstations/ajax/serverside/pbxstationdata.json",
	        	"data": function ( d ) {
	            	return $.extend( {}, d, {
	                    "extra_search[id]": $('#id').val()!=undefined ? $('#id').val() : "null",
	    
	                });
	            }
	        },
	    	"columns": [
	    	            { "data": "numberLocalized" },
	    	            { "data": "name" },
	    	            { "data": "host" },
	    	            { "data": "rabbitQueue" },
	    	            { "data": "updateFlag" },
	    	            { "data": "reinitFlag" },
	    	            { "data": "id" }
	    	        ],
	    	
	    	
			"language": {
	        	"url": "/static/assets/data-tables-1.10.6/i18n/"+[[${#locale.language}]]+".lang"
	        },
	        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Все"]],
	        "order": [[ 1, 'asc' ]],
	        "columnDefs": [
				{
	    			"searchable": false,
	    			"orderable": false,
	    			"targets": [0]
				},
	            {
		         	"targets": [-1],
		         	"searchable": false,
	    			"orderable": false,
		            "data": "Actions",
		            "render": function (data, type, full, meta) {
		            	var updateField = '<a class="update" href="/stations/pbxstations/update/'+data+'" data-toggle="tooltip" title="'+[[#{ui.messages.table.edit}]]+'" data-original-title="'+[[#{ui.messages.table.edit}]]+'"> \
		     	 								<i class="glyphicon glyphicon-pencil"></i></a>';
		     	 		var deleteField = '<a class="delete" href="/stations/pbxstations/delete" data-delete="'+data+'" data-toggle="tooltip" title="'+[[#{ui.messages.table.delete}]]+'" data-original-title="'+[[#{ui.messages.table.delete}]]+'"> \
		         								<i class="glyphicon glyphicon-trash"></i> </a>';
		         		var updateConfigField = '<a class="update-config" href="/stations/pbxstations/updateconfig" data-update="'+data+'" data-toggle="tooltip" title="'+[[#{ui.messages.table.actions.pbxstations.updateconfig}]]+'" data-original-title="'+[[#{ui.messages.table.delete}]]+'"> \
		         								<i class="glyphicon glyphicon-repeat"></i> </a>';
		         		var reinitBaseField = '<a class="reinit-base" href="/stations/pbxstations/reinitbase" data-reinit="'+data+'" data-toggle="tooltip" title="'+[[#{ui.messages.table.actions.pbxstations.reinitbase}]]+'" data-original-title="'+[[#{ui.messages.table.delete}]]+'"> \
		         								<i class="glyphicon glyphicon-refresh"></i> </a>';						
			            return "<center>"+updateConfigField+"&nbsp;&nbsp;&nbsp;"+reinitBaseField+"&nbsp;&nbsp;&nbsp;"+updateField+"&nbsp;&nbsp;&nbsp;"+deleteField+"</center>";
	           		}
	           	},
	           	{
		         	"targets": [-2],
		         	"searchable": true,
	    			"orderable": true,
		            "data": "Reinit Flag",
		            "render": function (data, type, full, meta) {
		            	return "<center>"+flagFormatter(data)+"</center>";
	           		}
	           	},
				{
		         	"targets": [-3],
		         	"searchable": true,
	    			"orderable": true,
		            "data": "Update Flag",
		            "render": function (data, type, full, meta) {
		            	return "<center>"+flagFormatter(data)+"</center>";
	           		}
	           	}
	           	
			]
	    });
		//Handle for delete button
	    myTable.on('click','a.delete',function() {
			if(!confirm([[#{ui.messages.table.delete.pbxstation.confirmation}]])) return false;
			
			var deletedRow = myTable.row( $(this).parents('tr') );
			
			$.ajax({
				type: 'POST',
				url: jQuery(this).attr('href'),
				data: ({
					id: jQuery(this).attr('data-delete'),
					_method: 'DELETE'
				}),
				}).done(function() {
					deletedRow
				        .remove()
				        .draw(false);
			});
				
			return false;
	    })
	    
	    //Handle for update config button 
	    myTable.on('click','a.update-config',function() {
			if(!confirm([[#{ui.messages.table.pbxstation.updateconfig.confirmation}]])) return false;
			//var updatedRow = myTable.row( $(this).parents('tr') );
			
			$.ajax({
				type: 'POST',
				url: jQuery(this).attr('href'),
				data: ({
					id: jQuery(this).attr('data-update'),
					_method: 'POST'
				}),
				}).done(function() {
					myTable.draw();
			});
				
			return false;
	    })
	    
	    //Handle for reinit db button 
	    myTable.on('click','a.reinit-base',function() {
			if(!confirm([[#{ui.messages.table.pbxstation.reinitbase.confirmation}]])) return false;
					
			$.ajax({
				type: 'POST',
				url: jQuery(this).attr('href'),
				data: ({
					id: jQuery(this).attr('data-reinit'),
					_method: 'POST'
				}),
				}).done(function() {
					myTable.draw();
			});
				
			return false;
	    })
	    
	    /*myTable.on( 'order.dt search.dt', function () {
	    	myTable.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
	            cell.innerHTML = i+1;
	        } );
	    } ).draw();*/
	    
	    $('#pbxstations-search-form').submit(function(){
	      	myTable.draw();
			return false;
		});
	    
	 
	});
	
	/*]]>*/
	</script>

</body>
</html>