<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/header :: headerFragment" />
<link rel="stylesheet" src="/static/assets/select2/css/select2.min.css" th:href="@{/static/assets/select2/css/select2.min.css}" />
<body>
<div id="wrapper">
<!-- Header -->
<div th:replace="fragment/header :: navbar_alt" > </div>



<br/>
<div id="page-wrapper">
	<div class="row">
				
		<ol class="breadcrumb">
			<li><a href="/users/index.html">Пользователи</a></li>
			<li class="active">Добавление пользователя</li>
		</ol>
		
		
	</div> 
 <div class="row">
 
 	<form action="#" th:action="@{/users/create}" th:object="${user}" method="post" class="well form">
 		<div class="row">
	    	<div class="col-lg-12">
			<fieldset>
				<legend>
					<h1>Добавление пользователя</h1>
					<p class="note">Поля отмеченные	<span class="required" style="color:red">*</span>	обязательны.</p>
					<div id="phones-form_es_" class="alert alert-block alert-danger" style="display:none" />
				</legend>
				
				<div class="form-group">
					<label class="control-label required" for="Users_lname">Фамилия <span class="required">*</span></label>
						<input id="Users_lname" class="form-control" type="text" maxlength="50" name="Users[lname]" placeholder="Фамилия" />
						<div id="Users_lname_em_" class="help-block error" style="display:none"></div>
				</div>
				
				
				<div class="form-group">
					<label class="control-label required" for="Users_status">
						Статус <span class="required">*</span>
					</label>
					<div id="s2id_Users_status" class="select2-container form-control select2-allowclear" style="width: 100%;">
						<a class="select2-choice" tabindex="-1" href="javascript:void(0)">
							<span id="select2-chosen-1" class="select2-chosen">Активный</span>
							<abbr class="select2-search-choice-close"></abbr>
							<span class="select2-arrow" role="presentation">
								<b role="presentation"></b>
							</span>
						</a>
						<label class="select2-offscreen" for="s2id_autogen1">Статус *</label>
						<input id="s2id_autogen1" class="select2-focusser select2-offscreen" type="text" role="button" aria-haspopup="true" aria-labelledby="select2-chosen-1" />
					</div>
	
					<select id="Users_status" class="form-control select2-offscreen" name="Users[status]" tabindex="-1" title="Статус *">
						<option value=""></option>
						<option value="1">Активный</option>
						<option selected="selected" value="0">Неактивный</option>
					</select>
					
					<div id="Users_status_em_" class="help-block error" style="display:none"></div>
				</div>
			</fieldset>	
			</div>
		</div>	
	</form>
 
 
 
 
 
 
 	
 	
 	<table id="userstable" class="display" cellspacing="0" width="100%" >
        <thead>
            <tr>
                <th>№ п/п</th>
                <th>ФИО</th>
                <th>Логин</th>
                <th>Роль</th>
                <th>Статус</th>
                <th>Время последнего входа</th>
                <th>Дата регистрации</th>
                <th>Дата блокировки</th>
                <th>Действия</th>
                
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>№ п/п</th>
                <th>ФИО</th>
                <th>Логин</th>
                <th>Роль</th>
                <th>Статус</th>
                <th>Время последнего входа</th>
                <th>Дата регистрации</th>
                <th>Дата блокировки</th>
                <th>Действия</th>
                
            </tr>
        </tfoot>
 
        <tbody>
            <tr th:each="user, iterStat : ${users}" >
                <td>№ п/п</td>
                <td th:text="${user.name}">ФИО</td>
                <td th:text="${user.login}">Логин</td>
                <td th:text="${user.role}">Роль</td>
                <td th:text="${user.status}">Статус</td>
                <td th:text="${user.lastLogin}">Время последнего входа</td>
                <td th:text="${user.signinDate}">Дата регистрации</td>
                <td th:text="${user.blockDate}">Дата блокировки</td>
                <td th:text="${user.id}">Идентификационный номер</td>
                
            </tr>
        </tbody>
    </table>
 	
 	
</div>

</div>
</div>

<div th:include="fragment/header :: scripts" > </div>
<script src="/static/assets/select2/js/select2.min.js" th:href="@{/static/assets/select2/js/select2.min.js}" > </script>
<script type="text/javascript">
	//<![CDATA[
	           
	           
	$(document).ready(function() {
		
		 $('select').select2();
		
		
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
		
		
	    var myTable = $('#userstable').DataTable({
			"language": {
	        	"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
	        },
	        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Все"]],
	        "order": [[ 1, 'asc' ]],
	        "columnDefs": [
				{
	    			"searchable": false,
	    			"orderable": false,
	    			"targets": 0
				},
	            {
		         	"targets": -1,
		         	"searchable": false,
	    			"orderable": false,
		            "data": "Действия",
		            "render": function (data, type, full, meta) {
		            	var updateField = '<a class="update" href="/users/update/'+data+'" data-toggle="tooltip" title="" data-original-title="Редактировать"> \
		     	 								<i class="glyphicon glyphicon-pencil"></i></a>';
		     	 		var deleteField = '<a class="delete" href="/users/delete/'+data+'" data-toggle="tooltip" title="" data-original-title="Удалить"> \
		         								<i class="glyphicon glyphicon-trash"></i> </a>'; 	 
			            return "<center>"+updateField+"&nbsp;&nbsp;&nbsp;"+deleteField+"</center>";
	           	}
	        }]
	    });
		
		myTable.on( 'order.dt search.dt', function () {
			myTable.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
	            cell.innerHTML = i+1;
	        } );
	    } ).draw();
		
	});
	//]]>
</script>

</body>
</html>