<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/header :: headerFragment" />
<div ddl:bundle-includes="users-index,users-custom-filter" />

<body>
<div id="wrapper">
<!-- Header -->
<div th:replace="fragment/header :: navbar_alt" > </div>



<br/>
<div id="page-wrapper">
	<div class="row">
		
		<!-- <ol class="breadcrumb">
			<li><a href="/users/index.html">Пользователи</a></li>
			<li class="active"><th:block th:text="${host.serverName}" /></li>
		</ol> -->
		
		<ol class="breadcrumb">
			<li class="active">Пользователи</li>
		</ol>
		<div class="col-lg-12">
			<a href="/users/create">Добавить</a>
		</div>
		<div class="col-lg-12">
			<h1 class="page-header">Управление пользователями</h1>
		</div>
		
		
	</div> 
 <div class="row">
 	 
 	
 	<table id="userstable" class="display" cellspacing="0" width="100%" >
        <thead>
            <tr>
                <th>№ п/п</th>
                <th>ФИО</th>
                <th>Логин</th>
                <th>Роль</th>
                <th>Статус</th>
                <th>Время последнего входа</th>
                <th>Дата регистрации</th>
                <th>Дата блокировки</th>
                <th>Действия</th>
                
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>№ п/п</th>
                <th>ФИО</th>
                <th>Логин</th>
                <th>Роль</th>
                <th>Статус</th>
                <th>Время последнего входа</th>
                <th>Дата регистрации</th>
                <th>Дата блокировки</th>
                <th>Действия</th>
                
            </tr>
        </tfoot>
 
         <tbody>
            <tr th:each="user, iterStat : ${users}" >
                <td>№ п/п</td>
                <td th:text="${user.name}">ФИО</td>
                <td th:text="${user.login}">Логин</td>
                <td th:text="${user.role}">Роль</td>
                <td th:text="${user.status}">Статус</td>
                <td th:text="${user.lastLogin}">Время последнего входа</td>
                <td th:text="${user.signinDate}">Дата регистрации</td>
                <td th:text="${user.blockDate}">Дата блокировки</td>
                <td th:text="${user.id}">Идентификационный номер</td>
                
            </tr>
        </tbody>  
    </table>
 	
 	
</div>

</div>
</div>

<div th:replace="fragment/header :: scripts" > </div>
<script src="/static/assets/views/users/js/index.js" th:href="@{/static/assets/views/users/js/index.js}" > </script>
</body>
</html>