<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/header :: headerFragment" />
	<script>
	//<![CDATA[
	var socket;
        /* Fill in modal with content loaded with Ajax */
        $(document).ready(function () {
        	$('#myModal2').on('show.bs.modal', function (event) {
            	  var link = $(event.relatedTarget) // Button that triggered the modal
            	  var recipient = link.data('whatever') // Extract info from data-* attributes
            	  var modal = $(this)
            	  modal.find('#chanspy_data').val(recipient);
            	})
        });
        
        function runningFormatter(value, row, index) {
            return index+1;
        }
        
        function actionFormatter(value, row, index) {
            return [
                '<a class="update" href="javascript:void(0)" data-toggle="modal" data-target="#myModal2" data-whatever="'+row.uniqueid+'" title="Подслушать">',
            	'<i class="glyphicon glyphicon-headphones"></i>',
                '</a>',
                '<a class="delete" href="javascript:void(0)" title="Удалить">',
                '<i class="glyphicon glyphicon-trash"></i>',
                '</a>'
            ].join('&nbsp;');
        }
        
        function dateFormatter(value, row, index) {
        	return moment(row.dateCreate).format("DD.MM.YYYY HH:mm:ss");
        }
        
        function secondsFormatter(value, row, index) {
        	var inSeconds = moment((moment().unix()*1000)-row.dateCreate).unix();
        	return moment().startOf('day').seconds(inSeconds).format('HH:mm:ss');;
        }
        
        function originateCall(){
        	var $channel = $('#originate_channel');
        	var $extension = $('#originate_extension');
        	if($channel[0].value==undefined || $extension[0].value==undefined){
        		alert("Error: enter channel and/or extension to originate call");
        		console.log($channel);
        		console.log($extension);
        	}
        	
        	var action = {action:"OriginateRequest"};
            var data = {args:[]};
            
            var originateData = {
            	type : "originateData",
            	application : null,
            	account : null,
            	async : false,
            	callerid : "Оригинация <0000>",
            	callingPress:0,
            	channel : $channel[0].value,
            	codecs : null,
            	context : "rost_local",
            	data : null,
            	exten : $extension[0].value,
            	priority : 1,
            	timeout : 30000,
            	variables : null
            }
            
            data.args.push(originateData);
            
            var content = {command: action, messageData: data};
            var header = {from:"WebServer", to:"msk-tl-001.corp.rostbank.ru"};
            
            var message ={header:header, content: content};
            
            var request=message;
            
            console.log(JSON.stringify(request));
            socket.send(JSON.stringify(request));
        }
        
        function findRow(table, uniqueid){
        	var data = table.bootstrapTable('getData');
        	for (var entry in data){
        		if(uniqueid == data[entry].uniqueid){
        			return data[entry];
        		}	
        	}
        	return null;
        }
        
        function spyCall(){
        	
			var $table = $('#activeChannelTable');
			var $spyChannel = $('#chanspy_data');
        	var currentRow = findRow($table,$spyChannel[0].value);
           
        	var $channel = $('#chanspy_channel');
        	if($channel[0].value==undefined){
        		alert("Error: enter channel to spy channel");
        		return;
        	}
        	
        	if(currentRow==null || currentRow==undefined){
        		alert("Error: spy channel is undefined. May be he shutdown");
        		return;
        	}
        	
        	var action = {action:"OriginateRequest"};
            var data = {args:[]};
            var content;
            var header;
            var message;
            var request;
            var row={channel:$spyChannel[0].value}
            
            var originateData = {
                	type : "originateData",
                	application : "ChanSpy",
                	account : null,
                	async : false,
                	callerid : "Прослушка <59920>",
                	callingPress : 0,
                	channel : $channel[0].value,
                	codecs : null,
                	context :"rost_local",
                	data : row.channel.substring(0, row.channel.search("-"))+",qb",
                	exten : null,
                	priority : 0,
                	timeout : 30000,
                	variables : null
            }
            data.args.push(originateData);
            content = {command: action, messageData: data};
            
            
            
            header = {from:"WebServer", to: currentRow.server};
            message ={header:header, content: content};
            
            request=message; 
            
           
            socket.send(JSON.stringify(request));
        }
        
        function channelStateFormatter(value, row, index) {
        	var onHold = row.onHold==true ? " (OnHold)" : "";
        	var channelStateDesc = row.channelstatedesc;
        	return channelStateDesc+onHold;
        }
        
        function channelHangup(row){
            if(confirm("Разорвать соединение")){
                var action = {action:"HangupRequest"};
                var data = {args:[]};
                data.args.push(row);
                var content = {command: action, messageData: data};
                var header = {from:"WebServer", to: row.server};
                var message ={header:header, content: content};
                var request=message;
                socket.send(JSON.stringify(request));
                
            }   
        }
        
        window.actionEvents = {
            'click .update': function (e, value, row, index) {
        	},
            
            'click .delete': function (e, value, row, index) {
            	channelHangup(row);
            }
        };
      //]]>  
    </script>
<body>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Позвонить</h4>
            </div>
                        
	        <div class="modal-body" id="myModalBody">
	        	<div class="form-group">
	        		<label for="originate_channel">Канал</label>
	            	<input type="text" class="form-control" placeholder="Канал" id="originate_channel" />
	            	<label for="originate_extension">Номер</label>
					<input type="text" class="form-control" placeholder="Номер" id="originate_extension" />
				</div>
			</div>	
	                    
            <div class="modal-footer">
            	<button type="button" class="btn btn-default" data-dismiss="modal" onclick="originateCall();">Позвонить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Прослушать разговор</h4>
            </div>
            <div class="modal-body" id="myModalBody">
            	<div class="form-group">
	        		<label for="originate_channel">Канал</label>
	            	<input type="text" class="form-control" placeholder="Канал" id="chanspy_channel" />
	            	<input id="chanspy_data" value="" type="hidden"/>
	            </div>
			</div>	
            <div class="modal-footer">
            	<button type="button" class="btn btn-default" data-dismiss="modal" onclick="spyCall();">Прослушать</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="wrapper">
	<!-- Header -->
	<div th:replace="fragment/header :: navbar_alt" > </div>
	<br/>
	 <div id="page-wrapper">
		<div class="row">
	 		<div class="col-lg-12">
	    		<h1>Активные каналы</h1>
	    		<div id="toolbar" class="btn-group">
	    			<select id="refreshPeriod" onchange="setRefreshTimeout()" class="btn btn-default">
	    			<i class="glyphicon glyphicon-phone-alt"></i>
						<option value="1">1</option>
						<option value="3">3</option>
						<option selected="selected" value="5">5</option>
						<option value="10">10</option>
					</select>
					
					<button type="button" class="btn btn-default" href="javascript:void(0)" data-toggle="modal" data-target="#myModal">
				        <i class="glyphicon glyphicon-phone-alt"></i>
				    </button>  			
				</div>
				
	    		<table 	id="activeChannelTable"
	    				data-toolbar="#toolbar"
	         			data-toggle="table"
	         			data-height="800"
	         			data-pagination="true"
	         			data-page-list="[10,20,30,40,50,60,70,80,90,100]" 
	         			data-search="true"
	         			
	         			
						data-buttons-align="left"
						data-toolbar-align="right"
	         			
	         			data-show-refresh="true"
	         			data-url="channels.json"
	         			data-show-columns="true" 
	         			data-maintain-selected="true"
						data-row-style="myRowStyle">
					<thead>
						<tr>
	        				<th data-formatter="runningFormatter">№</th>
	        				<th data-field="server" data-sortable="true">Сервер</th>
	        				<th data-field="calleridname" data-sortable="true">А-имя</th>
					        <th data-field="channelState" data-halign="center" data-align="center" data-formatter="channelStateFormatter" data-sortable="true" data-searchable="true">Статус канала</th>
					        <th data-field="calleridnum" data-sortable="true">А-номер </th>
					        <th data-field="extension" data-sortable="true">B-номер</th>
					        <th data-field="dateCreate" data-sortable="true">dateCreate</th>
					        <th data-field="date" data-halign="center" data-align="center" data-formatter="dateFormatter" data-sortable="true" data-searchable="true">Дата создания</th>
					        <th data-field="seconds" data-halign="center" data-align="center" data-formatter="secondsFormatter" data-sortable="true" data-searchable="true">Секунды</th>
					        <th data-field="connectedlinenum" data-sortable="true">B-номер</th>
					        <th data-field="connectedlinename" data-sortable="true">B-имя</th>
					        <th data-field="action" data-halign="center" data-align="center" data-formatter="actionFormatter" data-events="actionEvents">Действия</th>
					    </tr>
					</thead>    
				</table>
			</div> 
		</div>			
	</div>
</div>

<div th:include="fragment/header :: scripts" > </div>	

<script type="text/javascript" src="../static/assets/socket.io.js" th:href="@{/static/assets/socket.io.js}" charset="utf-8"> </script>
<script type="text/javascript" src="../static/assets/sockjs-0.3.4.js" th:href="@{/static/assets/sockjs-0.3.4.js}" charset="utf-8"> </script>
<script type="text/javascript">
//<![CDATA[
	var $table = $('#activeChannelTable');
	var refreshTimeout=5;
	var sockAddress=window.location.host; //"http://msk02-ws-0762.corp.rostbank.ru:8080/websocket"
	
	function setRefreshTimeout() {
		refreshTimeout=document.getElementById("refreshPeriod").value; 
	}
	
	var timer = setTimeout(function run() {
		var $table = $('#activeChannelTable');
		$table.bootstrapTable('refresh');
		timer = setTimeout(run, refreshTimeout*1000);
	}, refreshTimeout*1000);
	
	window.onresize=function(){
		$table.bootstrapTable('resetView');
	}
	
	window.onload=function(){
		socket = new SockJS("http://"+sockAddress+"/websocket");
		socket.onopen = function () {
			console.log("Соединение открылось");
		};
		socket.onclose = function () {
			console.log ("Соединение закрылось");
			//socket = new SockJS("http://msk02-ws-0762.corp.rostbank.ru:8080/websocket");
		};
		socket.onmessage = function (event) {
			console.log ("Пришло сообщение с содержанием:", event.data);
		};
	}
	//]]> 	
</script>

</body>
</html>