<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/header :: headerFragment" />
	<script>
	//<![CDATA[
	var socket;
                
        function runningFormatter(value, row, index) {
            return index+1;
        }
        
        function actionFormatter(value, row, index) {
            return [
                '<a class="reset" href="javascript:void(0)" title="Переустановить">',
            	'<i class="glyphicon glyphicon-repeat"></i>',
                '</a>',
                '<a class="restart" href="javascript:void(0)" title="Перезагрузить">',
                '<i class="glyphicon glyphicon-refresh"></i>',
                '</a>'
            ].join('&nbsp;');
        }
        
        function resetPeer_old(row){
        	var action = {action:"SipNotifyRequest"};
            var data = {args:[]};
            var content;
            var header;
            var message;
            var request;
                    
            var notifyVariables = {};
            notifyVariables["type"] = "sipNotifyData";
            notifyVariables["Event"] = "service-control";
            notifyVariables["Subscription-State"] = "active";
            notifyVariables["Content-Type"] = "text/plain";
            notifyVariables["Content"] = "action=reset "+
            		//"RegisterCallId={${SIPPEER(${PEERNAME},regcallid)}} "+
            		"ConfigVersionStamp=\{00000000-0000-0000-0000-000000000000\} "+
            		"DialplanVersionStamp=\{00000000-0000-0000-0000-000000000000\} "+
            		"SoftkeyVersionStamp=\{00000000-0000-0000-0000-000000000000\} "+
            		"FeatureControlVersionStamp=\{00000000-0000-0000-0000-000000000000\}";
            
            
            var notifyData = {
            		channel : row.objectName,
            		variables : notifyVariables
            }
            
            data.args.push(notifyData);
            content = {command: action, messageData: data};
            header = {from:"FROM", to:row.server};
            message ={header:header, content: content};
            
            request=message; 
            
            console.log(JSON.stringify(request));
            socket.send(JSON.stringify(request));
        }
        
        function restartPeer_old(row){
        	var action = {action:"SipNotifyRequest"};
            var data = {args:[]};
            var content;
            var header;
            var message;
            var request;
            //var row={channel:$spyChannel[0].value}
            
            /*var notifyVariables = {
            		type : "sipNotifyData",
            		Event : "service-control",
            		Subscription-State : "active",
            		Content-Type : "text/plain",
            		Content : "action=restart "+
            		"RegisterCallId={${SIPPEER(${PEERNAME},regcallid)}} "+
            		"ConfigVersionStamp={00000000-0000-0000-0000-000000000000} "+
            		"DialplanVersionStamp={00000000-0000-0000-0000-000000000000} "+
            		"SoftkeyVersionStamp={00000000-0000-0000-0000-000000000000} "+
            		"FeatureControlVersionStamp={00000000-0000-0000-0000-000000000000}"
            }*/
            
            var notifyVariables = {};
            notifyVariables["type"] = "sipNotifyData";
            notifyVariables["Event"] = "service-control";
            notifyVariables["Subscription-State"] = "active";
            notifyVariables["Content-Type"] = "text/plain";
            notifyVariables["Content"] = "action=restart "+
            		//"RegisterCallId={${SIPPEER(${PEERNAME},regcallid)}} "+
            		"ConfigVersionStamp=\{00000000-0000-0000-0000-000000000000\} "+
            		"DialplanVersionStamp=\{00000000-0000-0000-0000-000000000000\} "+
            		"SoftkeyVersionStamp=\{00000000-0000-0000-0000-000000000000\} "+
            		"FeatureControlVersionStamp=\{00000000-0000-0000-0000-000000000000\}";
            
            var notifyData = {
            		channel : row.objectName,
            		variables : notifyVariables
            }
            
            data.args.push(notifyData);
            content = {command: action, messageData: data};
            header = {from:"FROM", to:row.server};
            message ={header:header, content: content};
            
            request=message; 
            
            console.log(JSON.stringify(request));
            socket.send(JSON.stringify(request));
        }
        
        
        
        
        
        
        
        function resetPeer(row){
        	var action = {action:"CommandRequest"};
            var data = {args:[]};
            var content;
            var header;
            var message;
            var request;
                    
            var commandData = {
            	type : "commandData",
            	command : "sip notify cisco-reset "+row.objectName,
            }
            
            data.args.push(commandData);
            content = {command: action, messageData: data};
            header = {from:"FROM", to:row.server};
            message ={header:header, content: content};
            
            request=message; 
            
            console.log(JSON.stringify(request));
            socket.send(JSON.stringify(request));
        }
        
        function restartPeer(row){
        	var action = {action:"CommandRequest"};
            var data = {args:[]};
            var content;
            var header;
            var message;
            var request;
                    
            var commandData = {
            	type : "commandData",
            	command : "sip notify cisco-restart "+row.objectName,
            }
            
            data.args.push(commandData);
            content = {command: action, messageData: data};
            header = {from:"FROM", to:row.server};
            message ={header:header, content: content};
            
            request=message; 
            
            console.log(JSON.stringify(request));
            socket.send(JSON.stringify(request));
        }
        
        
        
        window.actionEvents = {
            'click .reset': function (e, value, row, index) {
            	resetPeer(row);
        	},
            
            'click .restart': function (e, value, row, index) {
            	restartPeer(row);
            }
        };
      //]]>  
    </script>
<body>

<div id="wrapper">
	<!-- Header -->
	<div th:replace="fragment/header :: navbar_alt" > </div>
	<br/>
	 <div id="page-wrapper">
		<div class="row">
	 		<div class="col-lg-12">
	    		<h1>Пиры</h1>
	    		<div id="toolbar" class="btn-group">
	    			<select id="refreshPeriod" onchange="setRefreshTimeout()" class="btn btn-default">
	    			<i class="glyphicon glyphicon-phone-alt"></i>
						<option value="1">1</option>
						<option value="3">3</option>
						<option selected="selected" value="5">5</option>
						<option value="10">10</option>
					</select>
				</div>
				
	    		<table 	id="peersTable"
	    				data-toolbar="#toolbar"
	         			data-toggle="table"
	         			data-height="800"
	         			data-pagination="true"
	         			data-page-list="[10,20,30,40,50,60,70,80,90,100]" 
	         			data-search="true"
	         			
	         			
						data-buttons-align="left"
						data-toolbar-align="right"
	         			
	         			data-show-refresh="true"
	         			data-url="peers.json"
	         			data-show-columns="true" 
	         			data-maintain-selected="true"
						data-row-style="myRowStyle">
					<thead>
						<tr>
	        				<th data-formatter="runningFormatter">№</th>
	        				<th data-field="server" data-sortable="true">Сервер</th>
							<th data-field="channeltype" data-sortable="true">Тип канала</th>
							<th data-field="objectName" data-sortable="true">Имя</th>
							<th data-field="ipAddress" data-sortable="true">IP-адрес</th>
							<th data-field="ipPort" data-sortable="true">IP-порт</th>
							<th data-field="dynamic" data-sortable="true">С регистрацией</th>
							<th data-field="acl" data-sortable="true">С паролем</th>
							<th data-field="status" data-sortable="true">Статус</th>
							<th data-field="action" data-halign="center" data-align="center" data-formatter="actionFormatter" data-events="actionEvents">Действия</th>
						</tr>
					</thead>    
				</table>
			</div> 
		</div>			
	</div>
</div>

<div th:include="fragment/header :: scripts" > </div>	

<script type="text/javascript" src="../static/assets/socket.io.js" th:href="@{/static/assets/socket.io.js}" charset="utf-8"> </script>
<script type="text/javascript" src="../static/assets/sockjs-0.3.4.js" th:href="@{/static/assets/sockjs-0.3.4.js}" charset="utf-8"> </script>
<script type="text/javascript">
//<![CDATA[
	var $table = $('#activeChannelTable');
	var refreshTimeout=5;
	var sockAddress=window.location.host; 
	
	function setRefreshTimeout() {
		refreshTimeout=document.getElementById("refreshPeriod").value; 
	}
	
	var timer = setTimeout(function run() {
		var $table = $('#peersTable');
		$table.bootstrapTable('refresh');
		timer = setTimeout(run, refreshTimeout*1000);
	}, refreshTimeout*1000);
	
	window.onresize=function(){
		$table.bootstrapTable('resetView');
	}
	
	window.onload=function(){
		socket = new SockJS("http://"+sockAddress+"/websocket");
		socket.onopen = function () {
			console.log("Соединение открылось");
		};
		socket.onclose = function () {
			console.log ("Соединение закрылось");
		};
		socket.onmessage = function (event) {
			console.log ("Пришло сообщение с содержанием:", event.data);
		};
	}
	//]]> 	
</script>

</body>
</html>