<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/header :: headerFragment" />
	<script>
	//<![CDATA[
	var socket;
		function serverNameFormatter(value, row, index) {
			return '<a href="/server/'+row.serverName+'/" title="Подробнее">'+row.serverName+'</a>';
			
    	}
	
		function cpuInfoFormatter(value, row, index) {
			var cpuInfo = row.cpuInfo;
			return cpuInfo.cpuVendor+" "+cpuInfo.cpuModel+" "+cpuInfo.cpuMhz+" ("+cpuInfo.cpuTotalCores+" ядер; "+cpuInfo.cpuCacheSize+" кэш)";
	    }
		
		function memInfoFormatter(value, row, index) {
			var memInfo = row.memInfo;
			return Math.round(memInfo.memTotal/1024/1024)+" Mb";
	    }
		
		function netInfoFormatter(value, row, index) {
			var netInfo = row.netInfo;
			return ;//cpuInfo.cpuVendor+" "+cpuInfo.cpuModel+" "+cpuInfo.cpuMhz+" ("+cpuInfo.cpuTotalCores+" ядер)";
	    }
		
		function loadInfoFormatter(value, row, index) {
			
			return[
				'<div class="progress progress-striped">',
					'<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" />',
						
					
				'</div>'
			       ].join('&nbsp;');;
			
			
			/*var netInfo = row.netInfo;
			return ;//cpuInfo.cpuVendor+" "+cpuInfo.cpuModel+" "+cpuInfo.cpuMhz+" ("+cpuInfo.cpuTotalCores+" ядер)";*/
	    }
		
		
		
	
        function runningFormatter(value, row, index) {
            return index+1;
        }
        
        function actionFormatter(value, row, index) {
            return [
                '<a class="reset" href="javascript:void(0)" title="Переустановить">',
            	'<i class="glyphicon glyphicon-repeat"></i>',
                '</a>',
                '<a class="restart" href="javascript:void(0)" title="Перезагрузить">',
                '<i class="glyphicon glyphicon-refresh"></i>',
                '</a>'
            ].join('&nbsp;');
        }
                
        window.actionEvents = {
            'click .reset': function (e, value, row, index) {
            	resetPeer(row);
        	},
            
            'click .restart': function (e, value, row, index) {
            	restartPeer(row);
            }
        };
      //]]>  
    </script>
<body>

<div id="wrapper">
	<!-- Header -->
	<div th:replace="fragment/header :: navbar_alt" > </div>
	<br/>
	 <div id="page-wrapper">
		<div class="row">
	 		<div class="col-lg-12">
	    		<h1>Сервера</h1>
	    		<!-- <div id="toolbar" class="btn-group">
	    			<select id="refreshPeriod" onchange="setRefreshTimeout()" class="btn btn-default">
	    			<i class="glyphicon glyphicon-phone-alt"></i>
						<option value="1">1</option>
						<option value="3">3</option>
						<option selected="selected" value="5">5</option>
						<option value="10">10</option>
					</select>
				</div>  
				
				
				data-toolbar="#toolbar"
				-->
				
	    		<table 	id="serversTable"
	    				
	         			data-toggle="table"
	         			data-height="800"
	         			data-pagination="true"
	         			data-page-list="[10,20,30,40,50,60,70,80,90,100]" 
	         			data-search="true"
	         			
	         			
						data-buttons-align="left"
						data-toolbar-align="right"
	         			
	         			data-show-refresh="true"
	         			data-url="/server/servers.json"
	         			data-show-columns="true" 
	         			data-maintain-selected="true"
						data-row-style="myRowStyle">
					<thead>
						<tr>
	        				<th data-formatter="runningFormatter">№</th>
	        				<th data-field="server" data-formatter="serverNameFormatter">Сервер</th>
	        				<th data-field="cpuInfo" data-formatter="cpuInfoFormatter">Процессор</th>
	        				<th data-field="memInfo" data-formatter="memInfoFormatter">Память</th>
	        				<!-- <th data-field="loadInfo" data-formatter="loadInfoFormatter">Загрузка</th> -->
	        			</tr>
					</thead>    
				</table>
			</div> 
		</div>			
	</div>
</div>


<div th:replace="fragment/header :: scripts" > </div>	



</body>
</html>