<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/header :: headerFragment" />
<div ddl:bundle-includes="servers-info" />
	
	<script th:inline="javascript">
	//<![CDATA[
	   
	    
	    function getIntDetail(intName){
	    	
	    	var netInfo= /*[[${host.netInfo}]]*/ null;		
			var intStat=null;
			var retHtml;
	    	
	    	if(netInfo==null){
	    		return "В статическом режиме - не доступно";
	    	}
	    	
	    	$(netInfo).each(function(){
	    		$.each(this.intList, function(){
	    			if(this.intName==intName){
	    				intStat=this.intStat;
	    				console.log(intStat);
	    			}
	    		})
	    	});
	    		    	
	    	retHtml = " \
	    	<div class='row'> \
	    		<table class='table table-bordered'> \
	    			<tr> \
	    				<th>RxPackets</th> \
	    				<th>RxErrors</th> \
	    				<th>RxDropped</th> \
	    				<th>RxOverruns</th> \
	    				<th>RxFrame</th> \
	    			</tr> \
	    			<tr> \
	    				<td>"+intStat.rxPackets+"</td> \
	    				<td>"+intStat.rxErrors+"</td> \
	    				<td>"+intStat.rxDropped+"</td> \
	    				<td>"+intStat.rxOverruns+"</td> \
	    				<td>"+intStat.rxFrame+"</td> \
	    			</tr> \
	    			<tr> \
	    				<th>TxPackets</th> \
	    				<th>TxErrors</th> \
	    				<th>TxDropped</th> \
	    				<th>TxOverruns</th> \
	    				<th>TxCarrier</th> \
	    			</tr> \
	    			<tr> \
	    				<td>"+intStat.txPackets+"</td> \
	    				<td>"+intStat.txErrors+"</td> \
	    				<td>"+intStat.txDropped+"</td> \
	    				<td>"+intStat.txOverruns+"</td> \
	    				<td>"+intStat.txCarrier+"</td> \
	    			</tr> \
	    			<tr> \
	    				<th>TxCollisions</th> \
	    				<th colspan='2'>RxBytes</th> \
	    				<th colspan='2'>TxBytes</th> \
	    			</tr> \
	    			<tr> \
	    				<td>"+intStat.txCollisions+"</td> \
	    				<td colspan='2'>"+formatHuman(intStat.rxBytes)+"</td> \
	    				<td colspan='2'>"+formatHuman(intStat.txBytes)+"</td> \
	    			</tr> \
	    		</table> \
    		</div>";
	    	
	    	return retHtml;
	    }
	    
	    
	//]]>  
    </script>
<body>

<div id="wrapper">
	<!-- Header -->
	<div th:replace="fragment/header :: navbar_alt" > </div>
	<br/>
	 <div id="page-wrapper">
		<div class="row">
			
				<ol class="breadcrumb">
				  	<li><a href="/server/all">Сервера</a></li>
				  	<li class="active"><th:block th:text="${host.serverName}" /></li>
				</ol>
			
	 		<div class="col-lg-12">
	 		
	 			<h1>Сервер: <span th:text="${host.serverName}" /> </h1>
	 				
	 			<div class="row">
	 				
	 				<div class="col-md-4">
	 					<div class="panel panel-primary">
							<!-- Default panel contents -->
							<div class="panel-heading"><center>Процессор</center></div>
									
							<div class="panel-body">
								<div class="row">
									<div class="col-md-6">
										<!-- Table -->
										<table class="table table-bordered">
											<tr>
												<th>Вендор</th><td th:text="${host.cpuInfo.cpuVendor}"></td>
											</tr>
											<tr>	
												<th>Модель</th><td th:text="${host.cpuInfo.cpuModel}"></td>
											</tr>
											<tr>	
												<th>Частота</th><td th:text="${host.cpuInfo.cpuMhz}"></td>
											</tr>
											<tr>	
												<th>Сокетов</th><td th:text="${host.cpuInfo.cpuTotalSockets}"></td>
											</tr>
											<tr>	
												<th>Ядер/Сокетов</th><td th:text="${host.cpuInfo.cpuCoresPerSocket}"></td>
											</tr>
											<tr>	
												<th>Ядер всего</th><td th:text="${host.cpuInfo.cpuTotalCores}"></td>
											</tr>
											<tr>	
												<th>Кэш</th><td th:text="${host.cpuInfo.cpuCacheSize}"></td>
											</tr>
										</table>
									</div>
									<div class="col-md-6">
										<!-- Table -->
										<table class="table table-bordered">
											<tr>
												<th>UserTime</th><td><th:block th:text="${host.cpuInfo.format(host.cpuInfo.cpuTotal.userTime)}" />%</td>
											</tr>
											<tr>	
												<th>SysTime</th><td><th:block th:text="${host.cpuInfo.format(host.cpuInfo.cpuTotal.sysTime)}" />%</td>
											</tr>
											<tr>	
												<th>IdleTime</th><td><th:block th:text="${host.cpuInfo.format(host.cpuInfo.cpuTotal.idleTime)}" />%</td>
											</tr>
											<tr>	
												<th>WaitTime</th><td><th:block th:text="${host.cpuInfo.format(host.cpuInfo.cpuTotal.waitTime)}" />%</td>
											</tr>
											<tr>	
												<th>NiceTime</th><td><th:block th:text="${host.cpuInfo.format(host.cpuInfo.cpuTotal.niceTime)}" />%</td>
											</tr>
										</table>
									</div>
								</div>
							</div>  
						</div>
	 				</div>
	 				
	 				<div class="col-md-4">
	 					<div class="panel panel-primary">
							<!-- Default panel contents -->
							<div class="panel-heading"><center>Память</center></div>
							<div class="panel-body">
								<div class="row">
									<!-- Table -->
									<table class="table table-bordered">
										<tr>	
											<th>Физической памяти</th><td><th:block th:text="${host.memInfo.ram}" /> Мб</td>
										</tr>
										<tr>
											<th>Всего</th><td><th:block th:text="${host.memInfo.format(host.memInfo.memTotal)}" /> Мб</td>
										</tr>
										<tr>	
											<th>Использовано</th><td><th:block th:text="${host.memInfo.format(host.memInfo.memUsed)}" /> Мб</td>
										</tr>
										<tr>	
											<th>Свободно</th><td><th:block th:text="${host.memInfo.format(host.memInfo.memFree)}" /> Мб</td>
										</tr>
										<tr>	
											<th>Всего (своп)</th><td><th:block th:text="${host.memInfo.format(host.memInfo.swapTotal)}" /> Мб</td>
										</tr>
										<tr>	
											<th>Использовано (своп)</th><td><th:block th:text="${host.memInfo.format(host.memInfo.swapUsed)}" /> Мб</td>
										</tr>
										<tr>	
											<th>Свободно (своп)</th><td><th:block th:text="${host.memInfo.format(host.memInfo.swapFree)}" /> Мб</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
	 				</div>
	 				
	 				<div class="col-md-4">
	 					<div class="panel panel-primary">
							<!-- Default panel contents -->
							<div class="panel-heading"><center>Сетевые интерфейсы</center></div>
							<div class="panel-body">
								<div class="row">
									<div th:object="${host.netInfo}">
											
        								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  											<div th:each="interface, iterStat : *{intList}" class="panel panel-default">
    											<div class="panel-heading" role="tab" th:id="'heading'+${#strings.replace(interface.intName,'.','')}" id="headingOne">
      												<h4 class="panel-title">
        												<a data-toggle="collapse" data-parent="#accordion" th:href="'#'+${#strings.replace(interface.intName,'.','')}" href="#collapseOne" aria-expanded="true" th:attr="aria-controls=${#strings.replace(interface.intName,'.','')}" aria-controls="collapseOne">
	        												<div class="row">
	        													<div class="col-md-4"><b style="font-size:14px;"><th:block th:text="${interface.intName}" /></b></div>
	        													<div class="col-md-4"><b style="font-size:14px;"><th:block th:text="${interface.intAddress}" /></b></div>
	        													<div class="col-md-4"><b style="font-size:14px;"><th:block th:text="${#strings.contains(interface.intFlags,'UP')? 'Вкл' : 'Выкл'}" /></b></div>
	        												</div>	
        												</a>
      												</h4>
    											</div>
    											<div th:id="${#strings.replace(interface.intName,'.','')}" id="collapseOne" class="panel-collapse collapse" role="tabpanel" th:attr="aria-labelledby='heading'+${#strings.replace(interface.intName,'.','')}" aria-labelledby="headingOne">
      												<div class="panel-body">
        												<div class="row" th:object="${interface}">
        													<div class="col-md-12">
        													
															<!-- Table -->
															<table class="table table-bordered" style="font-size: 12px;">
																<tr th:unless="${#strings.isEmpty(#object.intHwAddr)}">	
																	<th>Физический адрес</th><td><th:block th:text="*{intHwAddr}" /> </td>
																</tr>
																<tr th:unless="${#strings.isEmpty(#object.intType)}">	
																	<th>Тип</th><td><th:block th:text="*{intType}" /> </td>
																</tr>
																<tr th:unless="${#strings.isEmpty(#object.intAddress)}">	
																	<th>Адрес</th><td><th:block th:text="*{intAddress}" /> </td>
																</tr>
																
																<tr th:unless="${#strings.isEmpty(#object.intNetmask)}">	
																	<th>Маска</th><td><th:block th:text="*{intNetmask}" /> </td>
																</tr>
																<tr th:unless="${#strings.isEmpty(#object.intDescription)}">	
																	<th>Описание</th><td><th:block th:text="*{intDescription}" /> </td>
																</tr> 
																										
																<tr th:unless="${#strings.isEmpty(#object.intDestination)}">	
																	<th>Назначение</th><td><th:block th:text="*{intDestination}" /> </td>
																</tr>
																
																<tr th:unless="${#strings.isEmpty(#object.intBroadcast)}">	
																	<th>Бродкаст адрес</th><td><th:block th:text="*{intBroadcast}" /> </td>
																</tr>
																
																<tr th:unless="${#strings.isEmpty(#object.intFlags)}">	
																	<th>Флаги</th><td><th:block th:text="*{intFlags}" /> </td>
																</tr>
																
																<tr th:unless="${#strings.isEmpty(#object.intPtp)}">	
																	<th>P-t-p</th><td><th:block th:text="*{intPtp}" /> </td>
																</tr>
																<tr th:unless="${#strings.isEmpty(#object.intMtu)}">	
																	<th>MTU</th><td><th:block th:text="*{intMtu}" /> </td>
																</tr>
																<tr th:unless="${#strings.isEmpty(#object.intMetric)}">	
																	<th>Метрика</th><td><th:block th:text="*{intMetric}" /> </td>
																</tr>
															</table>
															</div>
															
															
															<div id="intStatWrap" class="col-md-12" th:object="${interface.intStat}">
																<button 
																	class="btn btn-lg btn-danger bs-docs-popover"
																	data-toggle="popover" 
																	data-placement="left"
																	type="button" 
																	data-original-title="Popover title"
																	data-html="true"
																	title="Статистика интерфейса"
																	th:attr="data-element=${interface.intName}"
																	
																																		
																>
																Подробно
																</button>
															</div>
															
															
															
														</div>
      												</div>
    											</div>
  											</div>
  										</div>
  									</div>
								</div>
							</div>
						</div>
	 				</div>
	 			</div>
	 		</div> 
		</div>		
			
	</div>
	
</div>

<div th:replace="fragment/header :: scripts" > </div>	
</body>
</html>