<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerFragment">
    <title>Обелиск</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="shortcut icon" href="/static/assets/my/img/phoneicon.png" th:href="@{/static/assets/my/img/phoneicon.png}" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 	<link rel="stylesheet" href="/static/assets/bootstrap-table-master/dist/bootstrap-table.min.css" media="screen" th:href="@{/static/assets/bootstrap-table-master/dist/bootstrap-table.min.css}" />
	<link rel="stylesheet" src="/static/assets/startbootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{/static/assets/startbootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
	<link rel="stylesheet" src="/static/assets/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.css" th:href="@{/static/assets/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.css}" />
	<link rel="stylesheet" src="/static/assets/startbootstrap/dist/css/timeline.css" th:href="@{/static/assets/startbootstrap/dist/css/timeline.css}" />
	<link rel="stylesheet" src="/static/assets/startbootstrap/dist/css/sb-admin-2.css" th:href="@{/static/assets/startbootstrap/dist/css/sb-admin-2.css}" />
	<link rel="stylesheet" src="/static/assets/startbootstrap/bower_components/morrisjs/morris.css" th:href="@{/static/assets/startbootstrap/bower_components/morrisjs/morris.css}" />
	<link rel="stylesheet" src="/static/assets/startbootstrap/bower_components/font-awesome/css/font-awesome.min.css" th:href="@{/static/assets/startbootstrap/bower_components/font-awesome/css/font-awesome.min.css}" />
	<link rel="stylesheet" src="/static/assets/data-tables-1.10.6/css/jquery.dataTables.css" th:href="@{/static/assets/data-tables-1.10.6/css/jquery.dataTables.css}" />  
	<!-- <link rel="stylesheet" src="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" th:href="@{//cdn.datatables.net/1.10.7/css/jquery.dataTables.css}" /> -->
	
	<!-- <link rel="stylesheet" src="/static/assets/select2/3.4.8/css/select2.css" th:href="@{/static/assets/select2/3.4.8/css/select2.css}" />  -->
	<!-- <link rel="stylesheet" src="/static/assets/select2/3.4.8/css/select2-bootstrap.css" th:href="@{/static/assets/select2/3.4.8/css/select2-bootstrap.css}" /> -->
	<link rel="stylesheet" src="/static/assets/select2/css/select2.css" th:href="@{/static/assets/select2/css/select2.css}" />
	
	<link rel="stylesheet" src="/static/assets/metisMenu/metisMenu.min.css" th:href="@{/static/assets/metisMenu/metisMenu.min.css}" />
	<script src="/static/assets/jquery-1.11.2.min.js" th:href="@{/static/assets/jquery-1.11.2.min.js}" > </script>  
</head>

<head th:fragment="headerFragmentError">
    <title>Обелиск</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="shortcut icon" href="/static/assets/my/img/phoneicon.png" th:href="@{/static/assets/my/img/phoneicon.png}" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 	<link rel="stylesheet" src="/static/assets/startbootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{/static/assets/startbootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
	<link rel="stylesheet" src="/static/assets/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.css" th:href="@{/static/assets/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.css}" />
	<link rel="stylesheet" src="/static/assets/startbootstrap/dist/css/timeline.css" th:href="@{/static/assets/startbootstrap/dist/css/timeline.css}" />
	<link rel="stylesheet" src="/static/assets/startbootstrap/dist/css/sb-admin-2.css" th:href="@{/static/assets/startbootstrap/dist/css/sb-admin-2.css}" />
	<link rel="stylesheet" src="/static/assets/startbootstrap/bower_components/morrisjs/morris.css" th:href="@{/static/assets/startbootstrap/bower_components/morrisjs/morris.css}" />
	<link rel="stylesheet" src="/static/assets/startbootstrap/bower_components/font-awesome/css/font-awesome.min.css" th:href="@{/static/assets/startbootstrap/bower_components/font-awesome/css/font-awesome.min.css}" />
	<script src="/static/assets/jquery-1.11.2.min.js" th:href="@{/static/assets/jquery-1.11.2.min.js}" > </script>  
</head>




<body>
<!-- Alternate Navbar -->

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" th:fragment="navbar_alt">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index.html">Обелиск</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                 -->    
                    
                    
                    
                    <!-- <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul> -->
                    <!-- /.dropdown-messages -->
                <!-- </li>  -->
                <!-- /.dropdown -->
                <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>  -->
                    <!-- /.dropdown-tasks -->
                <!-- </li>  -->
                <!-- /.dropdown -->
                <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>  -->
                    <!-- /.dropdown-alerts -->
                <!-- </li>  -->
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <!-- <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>  
                        <li class="divider"></li> -->
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Выход</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
			
			
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                       	
                        <li>
                            <a href="/index.html"><i class="fa fa-dashboard fa-fw"></i> Общая информация</a>
                        </li>
                        <!-- <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul> -->
                            <!-- /.nav-second-level -->
                        <!-- </li>  -->
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i>Состояние<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                            	<li>
	                                    <a href="/server/all">Сервера</a>
	                                </li>
	                                <li>
	                                    <a href="/channels.html">Активные каналы</a>
	                                </li>
	                                <li>
	                                    <a href="/peers.html">Устройства</a>
	                                </li>
	                            </ul>
                        </li>
                        
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i>Параметры<span class="fa arrow"></span></a>
	                        <ul class="nav nav-second-level">
	                        	<li>
	                        		<a href="/users/index.html">Пользователи</a>
	                            </li>
	                        </ul>
                        </li>
                        <!-- <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="panels-wells.html">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="notifications.html">Notifications</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="icons.html"> Icons</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grid</a>
                                </li>
                            </ul>
                         -->    
                            <!-- /.nav-second-level -->
                        <!-- </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                     -->
                                    <!-- /.nav-third-level -->
                                <!-- </li>
                            </ul> -->
                            <!-- /.nav-second-level -->
                        <!-- </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>
                             -->
                            <!-- /.nav-second-level -->
                        <!-- </li> -->
                    </ul> 
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>











<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">
	<!-- <div class="container">  -->
	<div class="container-fluid">
	
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Обелиск</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<!-- <li th:classappend="${page == 'home' ? 'active' : ''}"><a href="#" th:href="@{/home}">Home</a></li>  -->
				
				
				<!-- <li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          			<ul class="dropdown-menu" role="menu">
            			<li><a href="#">Action</a></li>
				    	<li><a href="#">Another action</a></li>
				    	<li><a href="#">Something else here</a></li>
				        <li class="divider"></li>
				        <li><a href="#">Separated link</a></li>
				        <li class="divider"></li>
				        <li><a href="#">One more separated link</a></li>
				    </ul>
				</li> -->
				
				<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Записи<span class="caret"></span></a>
          			<ul class="dropdown-menu" role="menu">
            			<li><a href="#">Записи телефонных разговоров</a></li>
				    </ul>
				</li>
				 
				<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Отчеты<span class="caret"></span></a>
          			<ul class="dropdown-menu" role="menu">
            			<li><a href="#">Агенты очереди</a></li>
            			<li><a href="#">Лог очереди</a></li>
				    </ul>
				</li>
				
				<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Хант-Группы<span class="caret"></span></a>
          			<ul class="dropdown-menu" role="menu">
            			<li><a href="#">Номера</a></li>
            			<li><a href="#">Хант-листы</a></li>
            			<li><a href="#">Группы линий</a></li>
				    </ul>
				</li>
				
				<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Маршрутизация<span class="caret"></span></a>
          			<ul class="dropdown-menu" role="menu">
            			<li><a href="#">Маршруты</a></li>
            			<li><a href="#">Транки</a></li>
            			<li><a href="#">Настройки номеров телефонов</a></li>
            			<li><a href="#">Правила трансляции номеров</a></li>
            			<li><a href="#">Таблица трансляций</a></li>
				    </ul>
				</li>
				
				<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Справочники<span class="caret"></span></a>
          			<ul class="dropdown-menu" role="menu">
            			<li><a href="#">Номера телефонов</a></li>
            			<li><a href="#">Телефоны (Cisco)</a></li>
            			<li><a href="#">Группы перехвата</a></li>
            			<li><a href="#">Кнопки быстрого набора</a></li>
            			<li><a href="#">Пользователи</a></li>
            			<li><a href="#">Загружаемое ПО</a></li>
				    </ul>
				</li>
				
				<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Администрирование<span class="caret"></span></a>
          			<ul class="dropdown-menu" role="menu">
            			<li><a href="#">Обновления системы</a></li>
            			<li><a href="#">Локации</a></li>
            			<li><a href="#">Станции</a></li>
            			<li><a href="#">Типы телефонов</a></li>
            			<li><a href="#">Сервисные номера</a></li>
            			<li><a href="#">Сервисные модули</a></li>
				    </ul>
				</li>
				
				<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Селф-портал<span class="caret"></span></a>
          			<ul class="dropdown-menu" role="menu">
            			<li><a href="#">Сокращенный набор</a></li>
            		</ul>
				</li>
							
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<!-- <li th:if="${#authorization.expression('!isAuthenticated()')}"><a href="/signin" th:href="@{/signin}">Sign in</a></li>  -->
				<!--<li th:if="${#authorization.expression('isAuthenticated()')}"><a href="/logout" th:href="@{/logout}">Logout</a></li>-->
				
				
				<li th:if="${#authorization.expression('isAuthenticated()')}" class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Боженков Владимир Петрович<span class="caret"></span></a>
          			<ul class="dropdown-menu" role="menu">
          				<li class="divider"></li>
				        <li><a href="/logout" th:href="@{/logout}">Выйти</a></li>
				        <li class="divider"></li>
          			</ul>
				</li>
			</ul>
		</div>
<!--/.nav-collapse -->
	</div>
</div>
   	
<!-- 	<div id="footer" th:fragment="footer">
		Copyright &copy; 2015 by Dert Inc.<br/>
		All Rights Reserved.<br/>
	</div>
-->	


	<footer id="footer" th:fragment="footer">
	<!-- <div id="footerText" class="span12" >Copyright 2012 <a href="http://doanduyhai.wordpress.com">doanduyhai</a> |
		<a href="https://github.com/doanduyhai/ThymeLeafDemo">Fork ThymeLeaf Demo on Github</a> |
		<a href="https://twitter.com/#!/doanduyhai">Follow @doanduyhai on Twitter</a>
   	</div> -->
   	<!-- <div class="navbar-fixed-bottom row-fluid">
		<div class="navbar-inner">
			<div class="container">
				Copyright &copy; 2015 by Dert Inc.<br/>
				All Rights Reserved.<br/>
			</div>
		</div>
	</div>-->
	
	<!-- <div id="footer" th:fragment="footer"> -->
		Copyright &copy; 2015 by Dert Inc.<br/>
		All Rights Reserved.<br/>
	<!--  </div> -->
		
			
	</footer>
<div th:fragment="scripts">	
  	<script src="/static/assets/data-tables-1.10.6/js/jquery.dataTables.min.js" th:src="@{/static/assets/data-tables-1.10.6/js/jquery.dataTables.min.js}" > </script> 
  	<!-- <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" th:href="@{//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js}" > </script> -->
  	
	<script src="/static/assets/metisMenu/metisMenu.min.js" th:src="@{/static/assets/metisMenu/metisMenu.min.js}" > </script>
	<!-- <script src="/static/assets/select2/3.4.8/js/select2.min.js" th:href="@{/static/assets/select2/3.4.8/js/select2.min.js}" > </script>  -->
	
	<script src="/static/assets/select2/js/select2.min.js" th:src="@{/static/assets/select2/js/select2.min.js}" > </script>
	<script th:src="@{/static/assets/select2/js/i18n/__${#locale.language}__.js}" > </script>
	<script src="/static/assets/bootstrap/js/bootstrap.min.js" th:src="@{/static/assets/bootstrap/js/bootstrap.min.js}" > </script> 
	<script src="/static/assets/bootstrap-table-master/dist/bootstrap-table.min.js" th:src="@{/static/assets/bootstrap-table-master/dist/bootstrap-table.min.js}" > </script> 
	<script src="/static/assets/bootstrap-table-master/dist/locale/bootstrap-table-ru-RU.min.js" th:src="@{/static/assets/bootstrap-table-master/dist/locale/bootstrap-table-ru-RU.min.js}" ></script>
	<script src="/static/assets/bootstrap-table-master/dist/extensions/export/bootstrap-table-export.min.js" th:src="@{/static/assets/bootstrap-table-master/dist/extensions/export/bootstrap-table-export.min.js}"></script>
	<script src="/static/assets/bootstrap-table-master/dist/extensions/filter/bootstrap-table-filter.min.js" th:src="@{/static/assets/bootstrap-table-master/dist/extensions/filter/bootstrap-table-filter.min.js}"></script>
	
	<script src="/static/assets/tableExport.jquery.plugin-master/jquery.base64.js" th:src="@{/static/assets/tableExport.jquery.plugin-master/jquery.base64.js}" > </script>
	<script src="/static/assets/tableExport.jquery.plugin-master/tableExport.js" th:src="@{/static/assets/tableExport.jquery.plugin-master/tableExport.js}" > </script>
	<script src="/static/assets/bootstrap-table-filter-master/src/bootstrap-table-filter.js" th:src="@{/static/assets/bootstrap-table-filter-master/src/bootstrap-table-filter.js}" ></script>
	<script src="/static/assets/my/my.js" th:src="@{/static/assets/my/my.js}" > </script>
	<script src="/static/assets/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.js" th:src="@{/static/assets/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.js}" > </script>
	<script src="/static/assets/startbootstrap/bower_components/raphael/raphael-min.js" th:src="@{/static/assets/startbootstrap/bower_components/raphael/raphael-min.js}" > </script>
	<script src="/static/assets/startbootstrap/dist/js/sb-admin-2.js" th:src="@{/static/assets/startbootstrap/dist/js/sb-admin-2.js}" > </script>
	<script src="/static/assets/moment-with-locales.js" th:src="@{/static/assets/moment-with-locales.js}" > </script>
	
	
</div>	

<div th:fragment="scriptsError">	
	<script src="/static/assets/metisMenu/metisMenu.min.js" th:src="@{/static/assets/metisMenu/metisMenu.min.js}" > </script>
	<script src="/static/assets/bootstrap/js/bootstrap.min.js" th:src="@{/static/assets/bootstrap/js/bootstrap.min.js}" > </script> 
	<script src="/static/assets/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.js" th:src="@{/static/assets/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.js}" > </script>
	<script src="/static/assets/startbootstrap/bower_components/raphael/raphael-min.js" th:src="@{/static/assets/startbootstrap/bower_components/raphael/raphael-min.js}" > </script>
	<script src="/static/assets/startbootstrap/dist/js/sb-admin-2.js" th:src="@{/static/assets/startbootstrap/dist/js/sb-admin-2.js}" > </script>
	<script src="/static/assets/moment-with-locales.js" th:src="@{/static/assets/moment-with-locales.js}" > </script>
</div>	
	
</body>
</html>