<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/header :: headerFragment" />

<body>
	<div id="wrapper">
		<!-- Header -->
		<div th:replace="fragment/header :: navbar_alt" > </div>
		<br/>
		<div id="page-wrapper">
			<div class="row">
				<ol class="breadcrumb">
					<li class="active" th:text="#{breadcrumbs.ivrgraphs}">IVR</li>
				</ol>
				<div class="col-lg-12">
					<h1 class="page-header" th:text="#{ivrgraphs.ui.messages.index.title}">IVR</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12" style="display: inline-block; vertical-align: top; padding: 3px;">
					<button id="loadModel" onclick="load()">Load</button>
    				<button id="saveModel" onclick="save()">Save</button>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2" style="display: inline-block; vertical-align: top; padding: 3px;">
      				<div id="accordion">
			        	<h4>Стандартные</h4>
			        	<div>
			          		<div id="standardPalette" style="height: 300px"></div>
			        	</div>
			        	<h4>Расширенные</h4>
			        	<div>
			          		<div id="extendedPalette" style="height: 300px"></div>
			        	</div>
			        	
			      	</div>
			    </div>
			    <div class="col-lg-8" style="display: inline-block; vertical-align: top; padding: 5px;">
    				<div id="ivrOverview" ></div>
      				<div id="ivrDiagram" style="border: solid 1px black; height: 700px"></div>
	   			</div>
    			<div class="col-lg-2">
	 					<div class="panel panel-primary">
							<!-- Default panel contents -->
							<div class="panel-heading"><center>Инспектор объектов</center></div>
									
							<div class="panel-body" style="padding: 0 0 0 0;">
								<div id="ivrElementSettings" >Element Settings</div>
							</div>
						</div>
					</div>				
			</div>
 			<div class="row" style="display: block;">

  <textarea id="mySavedModel" style="width:100%;height:200px">
{ "class": "go.GraphLinksModel",
  "linkFromPortIdProperty": "fromPort",
  "linkToPortIdProperty": "toPort",
  "nodeDataArray": [ 
{"category":"handsetIn", "geo":"handset-in", "color":"#00B5CB", "fromLink":true, "toLink":true, "hint":"Входящий вызов", "key":-2, "loc":"-470 -210"},
{"category":"calendar", "geo":"calendar", "color":"#00B5CB", "fromLink":true, "toLink":true, "hint":"Время работы", "key":-4, "loc":"-470 -110"},
{"category":"handsetOut", "geo":"handset-out", "color":"#00B5CB", "fromLink":true, "toLink":true, "hint":"Исходящий вызов", "key":-3, "loc":"-580 -10"},
{"category":"lanWhite", "geo":"lan-white", "color":"#00B5CB", "fromLink":true, "toLink":true, "hint":"Голосовое меню", "key":-9, "loc":"-360 -10"},
{"category":"handsetOut", "geo":"handset-out", "color":"#00B5CB", "fromLink":true, "toLink":true, "hint":"Исходящий вызов", "key":-5, "loc":"-440 100"},
{"category":"handsetOut", "geo":"handset-out", "color":"#00B5CB", "fromLink":true, "toLink":true, "hint":"Исходящий вызов", "key":-6, "loc":"-360 100"},
{"category":"exchange", "geo":"exchange", "color":"#00B5CB", "fromLink":true, "toLink":true, "hint":"Точка обмена", "key":-7, "loc":"-280 100"},
{"category":"handsetHangup", "geo":"handset-hangup", "color":"#00B5CB", "fromLink":true, "toLink":true, "hint":"Завершение вызова", "key":-8, "loc":"-510 200"}
 ],
  "linkDataArray": [ 
{"from":-2, "to":-4, "fromPort":"", "toPort":""},
{"from":-4, "to":-3, "fromPort":"", "toPort":""},
{"from":-4, "to":-9, "fromPort":"", "toPort":""},
{"from":-9, "to":-5, "fromPort":"", "toPort":""},
{"from":-9, "to":-6, "fromPort":"", "toPort":""},
{"from":-9, "to":-7, "fromPort":"", "toPort":""},
{"from":-5, "to":-8, "fromPort":"", "toPort":""},
{"from":-6, "to":-8, "fromPort":"", "toPort":""},
{"from":-7, "to":-8, "fromPort":"", "toPort":""},
{"from":-3, "to":-8, "fromPort":"", "toPort":""}
 ]}
  </textarea>
			</div>	
		</div>
	</div>
	<div th:replace="fragment/header :: scripts" > </div>
	<link rel="stylesheet" th:href="@{/static/assets/jquery-ui/1.11.4/cupertino/jquery-ui.css}" />
	<style type="text/css">
  		.ui-accordion .ui-accordion-content {
    		padding: 1px;
 		}
 		
 		#ivrOverview {
  			position: absolute;
  			vertical-align:top;
			margin-top: 10px;
			margin-left: 10px;
			background-color: aliceblue;
			z-index: 500; /* make sure its in front */
			border: solid 1px blue;
			width:300px;
			height:150px;
		}
	</style>
	
	<script src="/static/assets/jquery-ui/1.11.4/cupertino/jquery-ui.js" th:href="@{/static/assets/jquery-ui/1.11.4/cupertino/jquery-ui.js}" > </script> 
	<script src="/static/assets/views/ivrs/icons.js" th:href="@{/static/assets/views/ivrs/icons.js}" > </script>
	<script src="/static/assets/gojs/1.5.2/go-debug.js" th:href="@{/static/assets/gojs/1.5.2/go-debug.js}" > </script> <!-- use go.js when deploying -->
	<script src="/static/assets/sisyphus/v1.1.2-11/sisyphus.js" th:href="@{/static/assets/sisyphus/v1.1.2-11/sisyphus.js}" > </script> <!-- use go.js when deploying -->
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	           
	$(document).ready(function() {
		clearLocalStorage();
		init();
	});
	
    function init() {
      //if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this
      var $ = go.GraphObject.make;  // for conciseness in defining templates

      ivrDiagram =
        $(go.Diagram, "ivrDiagram",  // create a new Diagram in the HTML DIV element "ivrDiagram"
          {
            initialContentAlignment: go.Spot.Center,
         	"toolManager.mouseWheelBehavior": go.ToolManager.WheelZoom,// have mouse wheel events zoom in and out instead of scroll up and down
            allowDrop: true,  // Nodes from the Palette can be dropped into the Diagram
            "draggingTool.isGridSnapEnabled": true,  // dragged nodes will snap to a grid of 10x10 cells
            "undoManager.isEnabled": true
          });

      // when the document is modified, add a "*" to the title and enable the "Save" button
      ivrDiagram.addDiagramListener("Modified", function(e) {
        var button = document.getElementById("saveModel");
        if (button) button.disabled = !ivrDiagram.isModified;
        var idx = document.title.indexOf("*");
        if (ivrDiagram.isModified) {
          if (idx < 0) document.title += "*";
        } else {
          if (idx >= 0) document.title = document.title.substr(0, idx); 
        }
      });

    
   // initialize Overview
      ivrOverview =
        $(go.Overview, "ivrOverview",
          { observed: ivrDiagram, contentAlignment: go.Spot.Center });

   
      
	// "icons" is defined in icons.js
	// SVG paths have no flag for being filled or not, but GoJS Geometry paths do.
	// We want to mark each SVG path as filled:
	for (var k in icons) {
		icons[k] = go.Geometry.fillPath(icons[k]);
	}
	
	// a collection of colors
	var colors = {
		blue: "#00B5CB",
		orange: "#F47321",
		green: "#C8DA2B",
		gray: "#888",
		white: "#F5F5F5"
	}

    // A data binding conversion function. Given an icon name, return the icon's Path string.
	function geoFunc(geoname) {
		if (icons[geoname]) return icons[geoname];
		else return icons["handset"]; // default icon
	}
      
	// define some common property settings
    function nodeTemplateStyle() {
      return [new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
              new go.Binding("isShadowed", "isSelected").ofObject(),
              
              {
                selectionAdorned: false,
                shadowOffset: new go.Point(0, 0),
                shadowBlur: 15,
                shadowColor: "blue",
                toolTip: sharedToolTip
              }];
    }
	
 	// node template helpers
	var sharedToolTip =
    	$(go.Adornment, "Auto",
			$(go.Shape, "RoundedRectangle", { fill: "lightyellow", stroke: colors["gray"], strokeWidth: 2  }),
    		$(go.TextBlock, { margin: 8, stroke: colors["gray"], font: "bold 12px sans-serif" },
				new go.Binding("text", "hint")));
 
    function shapeStyle() {
        return {
          name: "NODESHAPE",
          fill: "lightcoral",
          stroke: colors["gray"],
          portId: "",
          cursor: "pointer",
          desiredSize: new go.Size(50, 50),
          strokeWidth: 4
        };
      }
    
 	// creates relinkable Links that will avoid crossing Nodes when possible and will jump over other Links in their paths
    ivrDiagram.linkTemplate =
      $(go.Link,
        { routing: go.Link.AvoidsNodes,
    	  curve: go.Link.JumpGap,
          corner: 3,
          relinkableFrom: true, relinkableTo: true,
          selectionAdorned: false, // Links are not adorned when selected so that their color remains visible.
          shadowOffset: new go.Point(0, 0), shadowBlur: 5, shadowColor: "blue",
        },
        new go.Binding("isShadowed", "isSelected").ofObject(),
        $(go.Shape,
          { name: "SHAPE", strokeWidth: 2, stroke: colors["blue"] }),
        $(go.Shape,   // the arrowhead
        { toArrow: "OpenTriangle", fill: null, stroke: colors["blue"] })  
      );

 	


/*    function portStyle(input) {
      return {
        desiredSize: new go.Size(6, 6),
        fill: "black",
        fromSpot: go.Spot.Right,
        fromLinkable: !input,
        toSpot: go.Spot.Left,
        toLinkable: input,
        toMaxLinks: 1,
        cursor: "pointer"
      };
    }

  */  
	//Elements templates
    var arrowOutTemplate =
		$(go.Node, "Spot", nodeTemplateStyle(),
			$(go.Shape, "Rectangle", shapeStyle(),
				new go.Binding("fill", "color"),
				new go.Binding("fromLinkable", "fromLink"),
				new go.Binding("toLinkable", "toLink")
			),
			$(go.Panel, "Vertical",
				{ margin: 3 },
				$(go.Shape,
					{ fill: colors["white"], strokeWidth: 0},
					new go.Binding("geometryString", "geo", geoFunc)
				)	
			)
		);
    
    var arrowInTemplate =
		$(go.Node, "Spot", nodeTemplateStyle(),
			$(go.Shape, "Rectangle", shapeStyle(),
				new go.Binding("fill", "color"),
				new go.Binding("fromLinkable", "fromLink"),
				new go.Binding("toLinkable", "toLink")
			),
			$(go.Panel, "Vertical",
				{ margin: 3 },
				$(go.Shape,
					{ fill: colors["white"], strokeWidth: 0},
					new go.Binding("geometryString", "geo", geoFunc)
				)	
			)
		);
	
    var cleanMapTemplate =
		$(go.Node, "Spot", nodeTemplateStyle(),
			$(go.Shape, "Rectangle", shapeStyle(),
				new go.Binding("fill", "color"),
				new go.Binding("fromLinkable", "fromLink"),
				new go.Binding("toLinkable", "toLink")
			),
			$(go.Panel, "Vertical",
				{ margin: 3 },
				$(go.Shape,
					{ fill: colors["white"], strokeWidth: 0},
					new go.Binding("geometryString", "geo", geoFunc)
				)	
			)
		);
    
    var treasureMapTemplate =
		$(go.Node, "Spot", nodeTemplateStyle(),
			$(go.Shape, "Rectangle", shapeStyle(),
				new go.Binding("fill", "color"),
				new go.Binding("fromLinkable", "fromLink"),
				new go.Binding("toLinkable", "toLink")
			),
			$(go.Panel, "Vertical",
				{ margin: 3 },
				$(go.Shape,
					{ fill: colors["white"], strokeWidth: 0},
					new go.Binding("geometryString", "geo", geoFunc)
				)	
			)
		);
    
    var handsetTemplate =
		$(go.Node, "Spot", nodeTemplateStyle(),
			$(go.Shape, "Rectangle", shapeStyle(),
				new go.Binding("fill", "color"),
				new go.Binding("fromLinkable", "fromLink"),
				new go.Binding("toLinkable", "toLink")
			),
			$(go.Panel, "Vertical",
				{ margin: 3 },
				$(go.Shape,
					{ fill: colors["white"], strokeWidth: 0},
					new go.Binding("geometryString", "geo", geoFunc)
				)	
			)
		);
    
    var handsetInTemplate =
		$(go.Node, "Spot", nodeTemplateStyle(),
			$(go.Shape, "Rectangle", shapeStyle(),
				new go.Binding("fill", "color"),
				new go.Binding("fromLinkable", "fromLink"),
				new go.Binding("toLinkable", "toLink")
			),
			$(go.Panel, "Vertical",
				{ margin: 3 },
				$(go.Shape,
					{ fill: colors["white"], strokeWidth: 0},
					new go.Binding("geometryString", "geo", geoFunc)
				)	
			)
		);
	
    var handsetOutTemplate =
		$(go.Node, "Spot", nodeTemplateStyle(),
			$(go.Shape, "Rectangle", shapeStyle(),
				new go.Binding("fill", "color"),
				new go.Binding("fromLinkable", "fromLink"),
				new go.Binding("toLinkable", "toLink")
			),
			$(go.Panel, "Vertical",
				{ margin: 3 },
				$(go.Shape,
					{ fill: colors["white"], strokeWidth: 0},
					new go.Binding("geometryString", "geo", geoFunc)
				)	
			)
		);
    
    var handsetHangupTemplate =
		$(go.Node, "Spot", nodeTemplateStyle(),
			$(go.Shape, "Rectangle", shapeStyle(),
				new go.Binding("fill", "color"),
				new go.Binding("fromLinkable", "fromLink"),
				new go.Binding("toLinkable", "toLink")
			),
			$(go.Panel, "Vertical",
				{ margin: 3 },
				$(go.Shape,
					{ fill: colors["white"], strokeWidth: 0},
					new go.Binding("geometryString", "geo", geoFunc)
				)	
			)
		);
    
    var handsetHoldTemplate =
		$(go.Node, "Spot", nodeTemplateStyle(),
			$(go.Shape, "Rectangle", shapeStyle(),
				new go.Binding("fill", "color"),
				new go.Binding("fromLinkable", "fromLink"),
				new go.Binding("toLinkable", "toLink")
			),
			$(go.Panel, "Vertical",
				{ margin: 3 },
				$(go.Shape,
					{ fill: colors["white"], strokeWidth: 0},
					new go.Binding("geometryString", "geo", geoFunc)
				)	
			)
		);
    
    var numpadTemplate =
		$(go.Node, "Spot", nodeTemplateStyle(),
			$(go.Shape, "Rectangle", shapeStyle(),
				new go.Binding("fill", "color"),
				new go.Binding("fromLinkable", "fromLink"),
				new go.Binding("toLinkable", "toLink")
			),
			$(go.Panel, "Vertical",
				{ margin: 3 },
				$(go.Shape,
					{ fill: colors["white"], strokeWidth: 0},
					new go.Binding("geometryString", "geo", geoFunc)
				)	
			)
		);
    
    var phonePadTemplate =
		$(go.Node, "Spot", nodeTemplateStyle(),
			$(go.Shape, "Rectangle", shapeStyle(),
				new go.Binding("fill", "color"),
				new go.Binding("fromLinkable", "fromLink"),
				new go.Binding("toLinkable", "toLink")
			),
			$(go.Panel, "Vertical",
				{ margin: 3 },
				$(go.Shape,
					{ fill: colors["white"], strokeWidth: 0},
					new go.Binding("geometryString", "geo", geoFunc)
				)	
			)
		);
    
    var exchangeTemplate =
		$(go.Node, "Spot", nodeTemplateStyle(),
			$(go.Shape, "Rectangle", shapeStyle(),
				new go.Binding("fill", "color"),
				new go.Binding("fromLinkable", "fromLink"),
				new go.Binding("toLinkable", "toLink")
			),
			$(go.Panel, "Vertical",
				{ margin: 3 },
				$(go.Shape,
					{ fill: colors["white"], strokeWidth: 0},
					new go.Binding("geometryString", "geo", geoFunc)
				)	
			)
		);
    
    var databaseTemplate =
		$(go.Node, "Spot", nodeTemplateStyle(),
			$(go.Shape, "Rectangle", shapeStyle(),
				new go.Binding("fill", "color"),
				new go.Binding("fromLinkable", "fromLink"),
				new go.Binding("toLinkable", "toLink")
			),
			$(go.Panel, "Vertical",
				{ margin: 3 },
				$(go.Shape,
					{ fill: colors["white"], strokeWidth: 0},
					new go.Binding("geometryString", "geo", geoFunc)
				)	
			)
		);
    
    var recordTemplate =
		$(go.Node, "Spot", nodeTemplateStyle(),
			$(go.Shape, "Rectangle", shapeStyle(),
				new go.Binding("fill", "color"),
				new go.Binding("fromLinkable", "fromLink"),
				new go.Binding("toLinkable", "toLink")
			),
			$(go.Panel, "Vertical",
				{ margin: 3 },
				$(go.Shape,
					{ fill: colors["white"], strokeWidth: 0},
					new go.Binding("geometryString", "geo", geoFunc)
				)	
			)
		);
    
    var lanWhiteTemplate =
		$(go.Node, "Spot", nodeTemplateStyle(),
			$(go.Shape, "Rectangle", shapeStyle(),
				new go.Binding("fill", "color"),
				new go.Binding("fromLinkable", "fromLink"),
				new go.Binding("toLinkable", "toLink")
			),
			$(go.Panel, "Vertical",
				{ margin: 3 },
				$(go.Shape,
					{ fill: colors["white"], strokeWidth: 0},
					new go.Binding("geometryString", "geo", geoFunc)
				)	
			)
		);

    var calendarTemplate =
		$(go.Node, "Spot", nodeTemplateStyle(),
			$(go.Shape, "Rectangle", shapeStyle(),
				new go.Binding("fill", "color"),
				new go.Binding("fromLinkable", "fromLink"),
				new go.Binding("toLinkable", "toLink")
			),
			$(go.Panel, "Vertical",
				{ margin: 3 },
				$(go.Shape,
					{ fill: colors["white"], strokeWidth: 0},
					new go.Binding("geometryString", "geo", geoFunc)
				)	
			)
		);

    
    var nodeTemplateMap = new go.Map("string", go.Node); 
    
    nodeTemplateMap.add("arrowOut", arrowOutTemplate);
    nodeTemplateMap.add("arrowIn", arrowInTemplate);
    nodeTemplateMap.add("cleanMap", cleanMapTemplate);
    nodeTemplateMap.add("treasureMap", treasureMapTemplate);
    nodeTemplateMap.add("handset", handsetTemplate);
    nodeTemplateMap.add("handsetIn", handsetInTemplate);
    nodeTemplateMap.add("handsetOut", handsetOutTemplate);
    nodeTemplateMap.add("handsetHangup", handsetHangupTemplate);
    nodeTemplateMap.add("handsetHold", handsetHoldTemplate);
    nodeTemplateMap.add("numpad", numpadTemplate);
    nodeTemplateMap.add("phonePad", phonePadTemplate);
    nodeTemplateMap.add("exchange", exchangeTemplate);
    nodeTemplateMap.add("database", databaseTemplate);
    nodeTemplateMap.add("record", recordTemplate);
    nodeTemplateMap.add("lanWhite", lanWhiteTemplate);
    nodeTemplateMap.add("calendar", calendarTemplate);
    
    ivrDiagram.nodeTemplateMap = nodeTemplateMap;
            
	jQuery("#accordion").accordion({
        activate: function(event, ui) {
        	standardPalette.requestUpdate();
			extendedPalette.requestUpdate();
        }
    });

    // initialize the Palette, of standard items
	standardPalette =
		$(go.Palette, "standardPalette",
    		{ // share the templates with the main Diagram
				nodeTemplateMap: nodeTemplateMap,
            	//groupTemplate: ivrDiagram.groupTemplate,
            	layout: $(go.GridLayout,{
            		cellSize: new go.Size(5, 5),
                    wrappingColumn: 3
            	})
        	});
   	
	standardPalette.model.nodeDataArray = [
		{ category: "handset", 			geo: "handset", 		color: colors["blue"], fromLink: true, toLink: true, hint: [[#{__${"handset"+"Node.elementSettings.title"}__}]]  },
		{ category: "handsetIn", 		geo: "handset-in", 		color: colors["blue"], fromLink: true, toLink: true, hint: [[#{__${"handsetIn"+"Node.elementSettings.title"}__}]]  },
		{ category: "handsetOut", 		geo: "handset-out", 	color: colors["blue"], fromLink: true, toLink: true, hint: [[#{__${"handsetOut"+"Node.elementSettings.title"}__}]]  },
		{ category: "calendar", 		geo: "calendar", 		color: colors["blue"], fromLink: true, toLink: true, hint: [[#{__${"calendar"+"Node.elementSettings.title"}__}]]  },
		{ category: "handsetHangup", 	geo: "handset-hangup", 	color: colors["blue"], fromLink: true, toLink: true, hint: [[#{__${"handsetHangup"+"Node.elementSettings.title"}__}]]  },
		{ category: "handsetHold", 		geo: "handset-hold", 	color: colors["blue"], fromLink: true, toLink: true, hint: [[#{__${"handsetHold"+"Node.elementSettings.title"}__}]]  },
		{ category: "numpad", 			geo: "numpad", 			color: colors["blue"], fromLink: true, toLink: true, hint: [[#{__${"numpad"+"Node.elementSettings.title"}__}]]  },
		{ category: "phonePad", 		geo: "phone-pad", 		color: colors["blue"], fromLink: true, toLink: true, hint: [[#{__${"phonePad"+"Node.elementSettings.title"}__}]]  },
		{ category: "lanWhite", 		geo: "lan-white", 		color: colors["blue"], fromLink: true, toLink: true, hint: [[#{__${"lanWhite"+"Node.elementSettings.title"}__}]]  }
    ];
	
	// initialize the Palette, of standard items
	extendedPalette =
		$(go.Palette, "extendedPalette",
    		{ // share the templates with the main Diagram
				nodeTemplateMap: nodeTemplateMap,
            	//groupTemplate: ivrDiagram.groupTemplate,
            	layout: $(go.GridLayout,{
            		cellSize: new go.Size(5, 5),
                    wrappingColumn: 3
            	})
        	});
   	
	extendedPalette.model.nodeDataArray = [
		{ category: "arrowOut", 		geo: "arrow-out", 		color: colors["blue"], fromLink: true, toLink: true, hint: [[#{__${"arrowOut"+"Node.elementSettings.title"}__}]] },
		{ category: "arrowIn", 			geo: "arrow-in", 		color: colors["blue"], fromLink: true, toLink: true, hint: [[#{__${"arrowIn"+"Node.elementSettings.title"}__}]] },
		{ category: "cleanMap", 		geo: "clean-map", 		color: colors["blue"], fromLink: true, toLink: true, hint: [[#{__${"cleanMap"+"Node.elementSettings.title"}__}]] },
		{ category: "treasureMap", 		geo: "treasure-map", 	color: colors["blue"], fromLink: true, toLink: true, hint: [[#{__${"treasureMap"+"Node.elementSettings.title"}__}]] },
		{ category: "exchange", 		geo: "exchange", 		color: colors["blue"], fromLink: true, toLink: true, hint: [[#{__${"exchange"+"Node.elementSettings.title"}__}]] },
		{ category: "database", 		geo: "database", 		color: colors["blue"], fromLink: true, toLink: true, hint: [[#{__${"database"+"Node.elementSettings.title"}__}]] },
		{ category: "record", 			geo: "record", 			color: colors["blue"], fromLink: true, toLink: true, hint: [[#{__${"record"+"Node.elementSettings.title"}__}]] }
		
	];

	ivrDiagram.addDiagramListener("ExternalObjectsDropped",
		function(e) {
			var part = e.diagram.selection.first();
		    if (!(part instanceof go.Link)) {
		    	addNode(part.data.category, part.data.key);
		    	//showMessage("Clicked on " + part.data.key + " " + part.data.category);
		    }
	});
	
	
	ivrDiagram.addDiagramListener("SelectionDeleted",
		function(e) {
			if ((e.subject instanceof go.Set) && (e.subject.first() instanceof go.Node)){ 
				var part = e.subject.first();
				removeNode(part.data.category, part.data.key);
				clearElementSettingsView();
				//showMessage("Clicked on " + part.data.key + " " + part.data.category);
			}	
	});
	
	
	ivrDiagram.addDiagramListener("ObjectSingleClicked",
		function(e) {
			var part = e.subject.part;
		    if (!(part instanceof go.Link)) {
		    	infoNode(part.data.category, part.data.key);
		    	//showMessage("Clicked on " + part.data.key + " " + part.data.category);
		    }
	});

	ivrDiagram.addDiagramListener("BackgroundSingleClicked",
		function(e) { 
			clearElementSettingsView();
	});
	
	

	/*ivrDiagram.addDiagramListener("ClipboardPasted",
		function(e) { showMessage("Pasted " + e.diagram.selection.count + " parts"); 
	});
	*/
	ivrDiagram.addDiagramListener("SelectionDeleting",
		function(e) {
			if (e.diagram.selection.count > 1) {
		    	e.cancel = true;
		        showMessage("Cannot delete multiple selected parts");
		    }
	});

	
    // load the initial diagram
    load();

}
    // save a model to and load a model from JSON text, displayed below the Diagram
    function save() {
      document.getElementById("mySavedModel").value = ivrDiagram.model.toJson();
      ivrDiagram.isModified = false;
    }
    function load() {
      ivrDiagram.model = go.Model.fromJson(document.getElementById("mySavedModel").value);
      clearElementSettingsView();
    }
    
 	// a GraphObject.click event handler to show arrowhead information
    function showMessage(s) {
 		alert(s);
    //document.getElementById("diagramEventsMsg").textContent = s;
  	}
 	
    var schemaMap = new Map();
    
 	function addNode(type, index){
 		$.ajax({
			type: 'POST',
			url: "/ivrs/addNode",
			data: ({
				index: index,
				type: type
			}),
		}).done(function(data) {
			schemaMap.set(index, data);
			schemaMap.forEach(logMapElements);
			infoNode(type,index);	
			
		});
 	}
 	
 	function removeNode(type, index){
 		var sisyphus = $("#"+type+"FormContent"+index).sisyphus(); 
		$.ajax({
			type: 'POST',
			url: "/ivrs/removeNode",
			data: ({
				index: index,
				type: type
			}),
		}).done(function(data) {
			schemaMap.delete(data.index);
			sisyphus.manuallyReleaseData();
			schemaMap.forEach(logMapElements);
		});
 	}
 	
 	function infoNode(type,index){
 		
 		$.ajax({
			type: 'GET',
			url: "/ivrs/infoNode",
			data: ({
				index: index,
				type:type
			}),
		}).done(function(data) {
			$("#ivrElementSettings").html(data);
			var node = schemaMap.get(index);
			//var sisyphusForm = $("#"+node.type+"FormContent"+node.index);
			//var node = schemaMap.get(index);
			/*if(!node.sisyphus) {
				 
				node.sisyphus = sisyphusInit(sisyphusForm, node); 
				schemaMap.set(index, node);
			} else {
				node.sisyphus.restoreAllData();
				//sisyphusInit(sisyphusForm, node);
				//sisyphusInit(node);
				//var sisyphus = $("#"+node.type+"FormContent"+node.index).sisyphus();
				//sisyphus.restore();
			}*/
			schemaMap.forEach(logMapElements);
		}).fail(function(){
			errorElementSettingsView();
		});
 	}
 	
 	function clearElementSettingsView(){
		$("#ivrElementSettings").html(emptySelection());
 	}
 	
 	function errorElementSettingsView(){
		$("#ivrElementSettings").html(elementNotFoundSelection());
 	}
 	
 	function nodeSelected(type, index){
 		if(!getNodeInfo(index))
 			newNode(type, index);
 	}
 	
 	function getNodeInfo(key){
 		if(schemaMap.has(key)){
 			console.log("Object with key: "+key+" from schema map: "+schemaMap.get(key));
 			schemaMap.forEach(logMapElements);
 		}	
 		else
 			return false;
 	} 
 	
 	function logMapElements(value, key, map) {
 	    console.log("index[" + key + "] = " + JSON.stringify(value));
 	}
 	
 	function emptySelection(){
 		var html='<div id="emptySelectionFormContent" class="col-lg-12"> <center><h4>Empty Selection</h4></center> <br/> <br/> </div>';
 		return html;
 	}
 	
 	function elementNotFoundSelection(){
 		var html='<div id="emptySelectionFormContent" class="col-lg-12"> <center><h4>Element Not Found</h4></center> <br/> <br/> </div>';
 		return html;
 	}
 	
 	function clearLocalStorage(){
 		while (localStorage.length) localStorage.removeItem(localStorage.key(0));
 	}
 	
 	function updateSchemaMapDataBinding(index, object){
 		var curr = schemaMap.get(index);
 		curr["form"]=object;
 		schemaMap.set(index,curr);
 		schemaMap.forEach(logMapElements);
 	}
 	
 	function formSerialize(idForm){
		return $('#'+idForm).serializeArray().reduce(function(obj, item) {
		    obj[item.name] = item.value;
		    return obj;
		}, {});
	}
 	
 	function sisyphusInit (form, node) {
		var sys = form.sisyphus({
			timeout: 0,
			autoRelease: true,
			
			onBeforeSave: function(){
				console.log('AUTOSAVE : Before Save');
			},
			onSave: function() {            
		        
				console.log('AUTOSAVE : Saved');
		        updateSchemaMapDataBinding(
		        		node.index, 
		        		formSerialize(node.type+'FormContent'+node.index
		        ));
		        
		    },
		    onRestore: function() {
		        console.log('AUTOSAVE : Restored');  
		    },
		    onRelease: function() {
		        console.log("AUTOSAVE : Release cache");
		    }
			
		});
		return sys;
			
	}	

	/*]]>*/
	</script>

</body>
</html>