<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
		<div id="ldapAuthServersContent">			
			<div class="panel panel-default" th:fragment="ldapAuthServersContent">
			<form th:object="${ldapAuthParams}">
				<div class="panel-heading" th:text="#{ldapAuthenticationServers.form.tab.header}"> Servers </div>
				<div class="panel-body">
					
					<div class="table-responsive">
						<table class="table" width="100%">
							<thead>
								<tr>
									<th></th>
									<th th:utext="#{ldapAuthenticationServers.field.host}+' &lt;span class=\'required\' style=\'color:red\'&gt;*&lt;/span&gt;'">Server *</th>
									<th th:utext="#{ldapAuthenticationServers.field.port}+' &lt;span class=\'required\' style=\'color:red\'&gt;*&lt;/span&gt;'">Port *</th>
									<th th:utext="#{ldapAuthenticationServers.field.useSSL}">Use SSL</th>
								</tr>	
							</thead>
							<tbody>
								<tr th:each="row,rowStat : *{ldapServers}">
      								<!--  <td th:text="${rowStat.count}">1</td>-->
      								<td>
        								<button class="btn btn-default remove-server" type="button" name="removeRow" th:value="${rowStat.index}" th:text="#{ldapAuthenticationServers.form.button.delserver}" >Remove row</button>
      								</td>
      								<td>
        								<div th:include="fragment/fielddefinition :: textFormFieldWithoutLabel('ldapServers[__${rowStat.index}__].host', 'host', text, 'ldapAuthenticationServers.field')">Host</div>
      								</td>
      								<td>
      									<div th:include="fragment/fielddefinition :: textFormFieldWithoutLabel('ldapServers[__${rowStat.index}__].port', 'port', text, 'ldapAuthenticationServers.field')">Host</div>
      								</td>
      								<td>
      									<div th:include="fragment/fielddefinition :: checkboxFormFieldInline('ldapServers[__${rowStat.index}__].useSSL', 'useSSL', 'ldapAuthenticationServers.field')">Active</div>
      								</td>
    							</tr>
  								<tr>
									<td colspan="4">
										<button id="addserver" class="btn btn-default add-server" type="button" th:text="#{ldapAuthenticationServers.form.button.addserver}">Add redundant LDAP server</button>
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				</form>
			</div>
		</div>	
</html>			