<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

				<div th:fragment="calendarFormContent" id="calendarFormContent" class="col-lg-12">
					<form action="#" th:object="${node}" th:id="${node.type}+'FormContent'+${node.index}">
						<center><h4 th:text="#{calendarNode.elementSettings.title}">Calendar menu context form</h4></center>
				    		<fieldset>
								
								<div th:include="fragment/fielddefinition :: selectFormField('timeScheduleGroup', false, allTimeScheduleGroups, 'id', 'name', 'calendarNode.field', '', false)">Time schedule group</div>
								
								
							</fieldset>
					</form>
				</div>	
</html>	